
/* manual variables */

#root.root {
  --general-border-radius: 11.5px;
  --general-margin: 4px;

  --nav-btn-margin: 8px;
  --nav-btn-width: 35px;
  --nav-btn-height: 35px;
  --nav-btn-len-margin: 3px;

  --tabs-audio-btn-width: 22px;
  --tabs-margin: 7px;
  --tabs-height: 35px;
  --tabs-inner-gap: 5px;
  --tabs-border-radius: 15px;

  --shy-color: #3584E4;

  --accent: var(--shy-color);
  --frame-el-overlay-selected-border: var(--accent);
}

/* PINNED TABS */

/* height calculation */
#root.root {
  --tabs-pinned-height: calc(
    ( 100vw - var(--tabs-margin) ) / 3.6 
  );
}

/* 1 pinned tab */

.PinnedTabsBar .tab-wrapper:nth-child(1):last-child{
  width: -moz-available !important;
  .Tab{height: calc(var(--tabs-pinned-height) / 1.4);}
}

/* 4 tabs in bottom row */

.PinnedTabsBar:has(.tab-wrapper:is(
  :nth-child(4), :nth-child(7), :nth-child(10),
  :nth-child(13), :nth-child(16), :nth-child(19), :nth-child(22),
  :nth-child(25), :nth-child(28), :nth-child(31), :nth-child(34),
  :nth-child(37), :nth-child(40), :nth-child(43), :nth-child(46)
):last-child){
  .tab-wrapper:nth-last-child(-n + 4){
    width: calc(100% / 4 - var(--tabs-margin) + 1.6px);
    .Tab {height: calc(var(--tabs-pinned-height) / 1.3);}
  }
}

/* 2 tabs in bottom row */

.PinnedTabsBar:has(.tab-wrapper:is(
  :nth-child(2), :nth-child(5), :nth-child(8), :nth-child(11),
  :nth-child(14), :nth-child(17), :nth-child(20), :nth-child(23),
  :nth-child(26), :nth-child(29), :nth-child(32), :nth-child(35),
  :nth-child(38), :nth-child(41), :nth-child(44), :nth-child(47)
):last-child){
  .tab-wrapper:nth-last-child(-n + 2){
    width: calc(100% / 2 - var(--tabs-margin) + 3.5px);
    .Tab {height: calc(var(--tabs-pinned-height) / 1.2);}
  }
}

/* 3 tabs in any row */

.PinnedTabsBar .tab-wrapper{
  width: calc(100% / 3 - var(--tabs-margin) + 2.3px);

  .Tab {width: -moz-available;}
}

/* audio icon */
.Tab[data-pin="true"] > .body > .audio { 
  background: transparent;
  box-shadow: none;
  right: 7px;
  top: 7px;
}

/* bigger favicon */
.Tab[data-pin="true"] > .body > .fav > .fav-icon { 
  width: 30px;
  height: 30px;
  top: -7.5px;
  left: -6.5px; 
}

/* match badge to bigger icon */
.Tab[data-pin="true"] > .body > .fav > .badge{
  right: -8.5px;
  bottom: -7px;
}

/* shadow, outline and background */
.Tab[data-pin="true"] .body {
  box-shadow: 0px 0px 9px #00000030;
  border: 1px solid var(--s-frame-bg);
  background-color: var(--toolbar-bg);
}

/* selected tab outline */
.Tab[data-pin="true"][data-active="true"] .body 
{border: 1px solid var(--s-frame-fg)}

/* remove bottom margin */
.PinnedTabsBar {margin-bottom: 0px}


/* OTHER */

/* consistent navbar background */
#nav_bar {background-color: transparent !important;}

.fav::after{
  content: "";
  position: absolute;
  z-index: -999;

  border-radius: 5px;

  width: 100%;
  height: 100%;

  background-color: rgba(80, 80, 80, 0.2);
}


/* remove padding on top */
#nav_bar{
  padding-top: 0px !important
}

/* popup */
.popup {margin: 6px !important}
.popup-container {background-color: transparent}

/* search */
#search_bar {margin: 4px}

