:root { /* settings */
  
  /* width of the sidebar */
  --sdbr-max-wdt: 330px;
  
  /* width of sidebar on thin mode */
  --sdbr-min-wdt: 60px;
  
  /* duration of animationes */
  --anim-dur: .2s;
  
  /* border radius of theme */
  --brdr-rad: 10px;
  
  /* spacing around the page and some ui items */
  --page-pad: .8rem;
  
  /* color of the border around the page and sidebar overlay */
  --brdr-col: #fafafa30;
  
  /* color of the shadow around the sidebar overlay */
  --shdw-col: #00000020;

  /* the highlight in some areas when in private window */
  --prvt-col: #6e00bc80;
  
  /* how much the panels stick out in the inactive state */
  --pnels-prtr: 5px;
  
  /* opacity of some items in the inactive state */
  --nonh-opct: 0;
}

/* layout set up */
:root {
  --bg-col: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
  --tb-col: var(--toolbar-bgcolor);
  --sdbr-pad: calc(var(--page-pad) * 0.65);
  --trans-var: all var(--anim-dur) ease;
  --brdr-var: 1px solid var(--brdr-col);
  --outline-var: 2px solid var(--shdw-col);
}



#main-window:has(
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {

  /* window controls */
  .titlebar-button {
    padding: calc(var(--page-pad) / 2 + 1px) 15px !important;
  }
  .titlebar-buttonbox-container{
    opacity: var(--nonh-opct);
    transition: var(--trans-var) !important;
  }
  
  .titlebar-buttonbox-container:hover {opacity: 1}
  .titlebar-buttonbox-container {
    position: fixed !important;
    right: 0px;
    top: 0px;
    max-height: var(--page-pad)
  }



  /* site content */
  #browser > #appcontent { transition: margin var(--anim-dur) }
  #appcontent .browserStack { background: var(--bg-col) }
  #appcontent browser {
    margin: var(--page-pad);
    border-radius: var(--brdr-rad);
    transition: margin var(--anim-dur);
    border: var(--brdr-var);
    outline: var(--outline-var);
  }
}



/* SIDEBAR */

#sidebar-box{
  max-width: 50% !important;
  min-width: 50px !important;
}

#main-window:has(
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {

  /* sidebar setup */
  #sidebar-box {
    position: absolute;
    overflow: clip;
    z-index: 1;
    
    width: var(--sdbr-max-wdt) !important;
    height: 92% !important;
    top: 4%;
    right: calc(100% - var(--page-pad) - var(--pnels-prtr));
    
    background: var(--bg-col) !important;
    padding: var(--sdbr-pad);
    padding-top: var(--sdbr-pad) !important;
    
    border-radius: var(--brdr-rad);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none !important;
    border: var(--brdr-var);
    outline: var(--outline-var);
    
    transition: var(--trans-var) !important;
    
    & > * {
      opacity: var(--nonh-opct);
      transition: var(--trans-var) !important;
    }
  }
  
  #sidebar-close, #sidebar-header { display: none }
  #sidebar { background: var(--brws-tb-col) }
  
}

/* show on hover */
#main-window:has(
  #sidebar-box:hover
) {
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
    opacity: 1;
    right: calc(100%  - var(--sdbr-max-wdt));
    & > * {
    opacity: 1;
    }
  }
}

/* userchrome toggle */

/* wide mode */
#main-window[titlepreface*=" "]:not([inDOMFullscreen="true"]):has(
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {
  
  #sidebar-box {
    right: calc(100%  - var(--sdbr-max-wdt)) !important;
    overflow: visible;
    height: 100% !important;
    top: 0% !important;
    border: none;
    outline: none;
    border-radius: 0px;
    & > * {
    opacity: 1;
    }
  }

  & .browserContainer::after {
    margin-left: calc(var(--sdbr-max-wdt) * -1);
  }
  & #browser > #appcontent {
    margin-left: var(--sdbr-max-wdt);
  }

  & #toolbar-menubar[autohide="true"] { left: calc(var(--sdbr-max-wdt) - 10px) !important}
}

/* thin mode */
#main-window[titlepreface*="  "]:not([inDOMFullscreen="true"]):has(
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {
  
  #sidebar-box {
    right: calc(100%  - var(--sdbr-min-wdt)) !important;
    overflow: visible;
    height: 100% !important;
    width: var(--sdbr-min-wdt) !important;
    top: 0% !important;
    border: none;
    outline: none;
    border-radius: 0px;
    & > * {
    opacity: 1;
    }
  }
  
  & .browserContainer::after {
    margin-left: calc(var(--sdbr-min-wdt) * -1);
  }
  & #browser > #appcontent {
    margin-left: calc(var(--sdbr-min-wdt) - var(--sdbr-pad));
  }

  & #toolbar-menubar[autohide="true"] { left: calc(var(--sdbr-min-wdt) - 10px) !important}
}

/* hide sidebar button when sidebar is open */
#main-window:has(#sidebar-box:not([hidden="true"])) #sidebar-button {
  display: none;
}
#main-window:has(#sidebar-box[hidden="true"]) #sidebar-button {
  background-color: red !important;
  opacity: 1 !important;
}




/* TOOLBAR */

#main-window:has(
  #sidebar-box[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {

  /* hide tabs */
  .titlebar-spacer,
  #tabbrowser-tabs,
  #alltabs-button,
  #new-tab-button,
  #private-browsing-indicator-with-label
  {
    display: none;
  }

  /* toolbar setup */
  #TabsToolbar{
    position: absolute !important;
    left: calc(100% - var(--pnels-prtr) - var(--page-pad));
    top: calc(var(--page-pad) + 7px);
    height: fit-content !important;
    width: 70px;
    transition: var(--trans-var) !important;
    background-color: var(--tb-col) !important;
    border-radius: var(--brdr-rad);
    border: var(--brdr-var);
    outline: var(--outline-var);
    z-index: 2;
  }
  #TabsToolbar-customization-target {  
    display: flex !important;
    flex-direction: column !important;
    justify-content: left;
    & > *{
      padding: 3px !important;
      max-width: 45px !important;
      transition: var(--trans-var) !important;
      opacity: var(--nonh-opct);
    }
  }
  #PanelUI-menu-button {padding-right: 0px }
  
}

/* show toolbar on hover */
#main-window:has(
  #TabsToolbar:hover
  .titlebar-buttonbox-container:not(:hover),
  .toolbarbutton-1[open]
) {
  #TabsToolbar {left: calc(100% - var(--pnels-prtr) - var(--page-pad) - 45px);}
  #TabsToolbar-customization-target > *{ opacity: 1; }
}




/* URLBAR */

/* urlbar setup */
#nav-bar{
  position: fixed !important;
  top: calc(100% - var(--page-pad) - var(--pnels-prtr));
  transition: var(--trans-var) !important;
  display: flex;
  width: 60%;
  height: 40px;
  left: 20%;
  z-index: 3;
  background-color: var(--tb-col) !important;
  border-radius: var(--brdr-rad);
  border: var(--brdr-var);
  outline: var(--outline-var);
  &  > *{
    transition: var(--trans-var) !important;
    max-height: 40px !important;
    opacity: var(--nonh-opct);
  } 
}

/* adjusting to window width */
@media (max-width: 1200px) {
  #nav-bar{
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 750px) {
  #nav-bar{
    width: 98%;
    left: 1%;
  }
}

@media (max-width: 550px) {
  #nav-bar-customization-target > *:not(#urlbar-container){
    display: none;
  }
}

/* show on hover */
#main-window:has(
  #nav-bar:hover,
  #nav-bar:focus-within,
  #urlbar-input-container > *[open],
  #identity-box > *[open]
) {
  #nav-bar{
    top: calc(100% - var(--page-pad) - 50px);
    height: 100%;
    &  > *{
    opacity: 1;
    }
  }
}

/* search suggestions */
#main-window:has(#urlbar[open])
{
  #nav-bar{
    top: calc(100% - 520px) !important;
    height: 100%;
    &  > *{
    opacity: 1;
    }
  }
}




/* MENUBAR */

/* menubar setup */
#toolbar-menubar{
  z-index: 3;
  width: fit-content;
  display: flex;
  overflow: clip;
  justify-content: center;
  align-items: center;
  transition: var(--trans-var) !important;
}

/* autohide mode */
#toolbar-menubar[autohide="true"] {
  position: absolute;
  margin-top: var(--page-pad);
  margin-left: var(--page-pad);
  border-radius: var(--brdr-rad);
  background: var(--tb-col) !important;
}
#toolbar-menubar:not([inactive])[autohide="true"]{    
  border: var(--brdr-var);
  outline: var(--outline-var); 
}

/* always show mode */
#toolbar-menubar[autohide="false"] {
  position: fixed;
  top: -6px;
  height: var(--page-pad) !important;
  background: transparent !important;
  opacity: var(--nonh-opct);
  
  &>*>*>*> .menubar-text {margin: 0px 5px 0px 5px !important; }
}

#main-window:has( 
  #toolbar-menubar:hover,
  #main-menubar > *[open="true"]
){
  #toolbar-menubar{opacity: 1 !important;}
}




/* OTHER THINGS */

/* fullscreen mode */
#navigator-toolbox[inFullscreen="true"] 
{ margin-top: -1px !important; }

#main-window:is([inDOMFullscreen="true"], [inFullscreen="true"]) {
  #appcontent browser {
    border-radius: 0px !important;
    margin: 0px !important;
    border: none !important;
  }
  .titlebar-buttonbox-container {display: none}
  --pnels-prtr: 0px;
}


/* customizing menu fix */
#main-window[customizing] {
  --nonh-opct: 1 !important;
  #nav-bar{
    height: 40px !important;
    top: calc(100% - var(--page-pad) - 100px) !important;
  }
  #TabsToolbar{
    width: 50px !important;
    left: calc(100% - var(--pnels-prtr) - var(--page-pad) - 50px) !important;
  }
}

/* extension popup fix */
#customizationui-widget-panel{
  max-height: 100% !important;
  opacity: 1 !important;
}

/* private window outline */
#main-window[privatebrowsingmode="temporary"] {
  --outline-var: 2px solid var(--prvt-col);
}

/* findbar */
findbar {
  background: var(--bg-col) !important;
  border: none !important;
  padding: var(--page-pad) !important;
  padding-top: 0 !important;
  padding-bottom: calc(var(--page-pad) + var(--pnels-prtr) + 5px) !important;);
  & > * {padding: 0 !important;}
}

/* devtools */
.browserSidebarContainer { background-color: var(--bg-col) !important;}
.devtools-side-splitter,
.devtools-horizontal-splitter
{background-color: transparent !important;}

/* statuspanel */
#statuspanel #statuspanel-label {
  font-weight: 600 !important;
  padding-inline: 6px !important;
  border-radius: var(--brdr-rad) !important;
  margin: 15px !important;
  background-color: var(--tb-col) !important;
  color: var(--toolbarbutton-icon-fill) !important;
  border: transparent !important;
}

/* drag window using top border */
.browserContainer::after {
  content: "";
  display: flex !important;
  pointer-events: none;
  position: absolute;
  -moz-window-dragging: drag;
  z-index: 1;
  background-color: transparent;
  height: 100%;
  width: 1000%;
  bottom: calc(100% - var(--page-pad) - 2px)
}

/* compact context menu */
menupopup > menuitem,
menupopup > menu {
  appearance: none !important;
  max-height: 22px !important;
  min-height: 22px !important;
  margin: 0 !important;
}
/*
menupopup > *{
  background-color: var(--bg-col) !important;
}
*/
/* compact unified extensions menu */
#unified-extensions-view{--uei-icon-size: 20px;}
.unified-extensions-item-message-deck,
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator
{ display:none !important; }

:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons 
{ margin: 2px 4px !important; }

.unified-extensions-item-menu-button.subviewbutton {
    padding: 2px !important;
    visibility: visible !important;
    transition: 300ms !important;
    -moz-margin-end: initial !important;
}

#unified-extensions-view .panel-subview-body {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack 
{ margin-inline-end: 2px !important; }

#unified-extensions-view .unified-extensions-item-name, 
#unified-extensions-view .unified-extensions-item-message {
    padding-inline-start: 0.5em !important;
    width: 21em !important;
}

  
