:root{ /* SETTINGS */
  
  /* border thickness */
  --margin: 0.8rem;
  
  /* rounded corners radius of most elements */
  --rounding: 10px;
  
  /* transition duration */
  --trans-dur: 0.2s;
  
  /* sidebar width */
  --sdbr-wdt: 300px;         /* initial state */
  --sdbr-hide-wdt: 350px;    /* hidden state */
  --sdbr-min-wdt: 50px;      /* minimal state */
  
  /* navbar width */
  --navbar-wdt: 60vw;
  
  /* sidebar height in hidden state */
  --sdbr-hide-hgt: 92vh;
  
  /* ledge of the panels relative to screen edge in open state */
  --panel-open-ldg: 25px;
  
  /* ledge of the panels relative to border in hidden state */
  --panel-hide-ldg: 3.5px;
  
  /* colors */
  --outline-col: #fafafa30;
  --shadow-col: #00000020;
  --private-col: #6e00bc80;
}

/* VARIABLES */
:root{
  /* pick browser colors */
  --bg-col: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
  --tb-col: var(--toolbar-bgcolor);
  --bt-col: var(--toolbarbutton-icon-fill);
  
  /* shared shortcuts */
  --outline: 1px solid var(--outline-col);
  --shadow: 2px solid var(--shadow-col);
  --transition: all var(--trans-dur) ease-out;
  
  /* constant variables  */
  --toolbar-item-hgt: 40px;
  --toolbar-button-wdt: 45px;
  
  /* dynamic variables */
  --sdbr-real-wdt: calc(var(--sdbr-wdt) + var(--margin));
  --navbar-real-wdt: var(--navbar-wdt);
}



/* WINDOW CONTROL BUTTONS */
.titlebar-buttonbox-container {
  position: fixed !important;
  overflow: clip !important;
  z-index: 10 !important;
  
  /* hardcode buttons position */
  right: 0px;       /* comment this line and */
/*left: 0px;        /* uncomment this line for buttons on left */
  top: 0px;
  
  /* set buttons height to border height */
  height: var(--margin);
  
  /* always visible */
  opacity: 1 !important;
  
  /* bind icon position to height (maybe this only makes sense on windows) */
  .titlebar-button {padding: calc(var(--margin) / 2) 15px !important;}
}

/* remove buttons in fullscreen */
#main-window[inFullscreen="true"] .titlebar-buttonbox-container {display: none}



/* HIDE ITEMS */

/* hide native tabs */
#tabbrowser-tabs,
#alltabs-button,

/* private indicator */
#private-browsing-indicator-with-label,

/* sidebar splitter */
#sidebar-splitter

/*  */
{display: none}

/* hide only if Sidebery opened */
#main-window:has(
  #sidebar-box:not([hidden])[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {
  #sidebar-header,
  #sidebar-button
  {display: none}
}



/* WEBSITE CONTENT */

/* set background color */
#appcontent .browserStack, #browser {background: var(--bg-col)}

/* apply only if not in fullscreen */
#main-window:not([inDOMFullscreen="true"]) {
  
  &:not([inFullscreen="true"]){
  /* set border and rounded corners to page content */
  #appcontent browser{
    margin: var(--margin);
    border-radius: var(--rounding);
    border: var(--outline);
    outline: var(--shadow);
  } }
  
  /* shift website content relative to the sidebar */
  #browser > #appcontent {
    transition: var(--transition) !important;
    margin-left: var(--sdbr-real-wdt);
  }
}

/* remove annoying line on top */
#navigator-toolbox {margin-top: -1px !important;}

/* private window outline */
#main-window[privatebrowsingmode="temporary"]
{--outline: 2px solid var(--private-col) !important;}



/* SIDEBAR */

/* initial state setup */
#sidebar-box{
  position: fixed;
  overflow: clip;
  z-index: 2;
  
  width: var(--sdbr-wdt) !important;
  
  min-width: var(--sdbr-min-wdt) !important;
  max-width: 100vw !important;
  
  /* set padding around sidebar to fit with border */
  left: var(--margin);
  top: var(--margin);
  bottom: var(--margin);
  
  transition: var(--transition);
  background-color: var(--bg-col) !important;
  
  & > * {transition: var(--transition); !important}
}

/* fix padding in fullscreen */
#main-window[inFullscreen=true] #sidebar-box{left: calc(var(--margin) / 2)}



/* USERCHROME TOGGLE */

/* hide sidebar mode */
#main-window[titlepreface*="-"]{
  --sdbr-real-wdt: 0px;
  
  #sidebar-box{
    
    height: var(--sdbr-hide-hgt) !important;
    width: calc(var(--sdbr-hide-wdt) + var(--panel-hide-ldg)) !important;
    
    padding: var(--margin);
    padding-left: var(--panel-open-ldg) !important;
    
    top: calc((100vh - var(--sdbr-hide-hgt)) / 2);
    left: calc(var(--margin) + var(--panel-hide-ldg) - var(--sdbr-hide-wdt));
    
    border-radius: var(--rounding);
    border: var(--outline) !important;
    outline: var(--shadow) !important;
    
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none !important;
    
    & > * {
      transition: var(--transition) !important;
      opacity: 0;
    }
  }
  
  /* show on hover */
  #sidebar-box:hover{
    left: 0px !important;
    & > * {opacity: 1 !important;}
  }
  
  /* reduce ledge in fullscreen */
  &[inFullscreen="true"] {#sidebar-box {left: calc(var(--panel-hide-ldg) - var(--sdbr-hide-wdt))}}
}

/* thin sidebar mode */
#main-window[titlepreface*="="]{
  --sdbr-real-wdt: calc(var(--sdbr-min-wdt) + var(--margin));
  #sidebar-box {width: var(--sdbr-min-wdt) !important;} 
}



/* NAVIGATION BAR */

/* navbar initial setup */
#nav-bar{
  position: fixed !important;
  z-index: 3;
    
  bottom: calc( var(--margin) + var(--panel-hide-ldg) - var(--toolbar-item-hgt) );
  
  width: var(--navbar-real-wdt);
  max-width: calc(100vw - var(--sdbr-real-wdt));
  left: calc((100vw - var(--navbar-real-wdt)) / 2 + var(--sdbr-real-wdt) / 2);
  
  transition: var(--transition) !important;
  
  border-radius: var(--rounding);
  border: var(--outline) !important;
  outline: var(--shadow) !important;
  
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none !important;
  
  & > * {
    transition: var(--transition) !important;
    opacity: 0;
  }
}

#urlbar-background{border-radius: calc(var(--rounding) / 2)!important;}

/* limit items height */
#nav-bar-customization-target > * {max-height: var(--toolbar-item-hgt) !important;}

/* show navbar on hover or focus */
#main-window:has(
  #nav-bar:hover,
  #urlbar:focus-within,
  #urlbar:is([breakout][breakout-extend]),
  #nav-bar-customization-target > *[open],
  #urlbar-input-container > *[open],
  #identity-box > *[open]
) {
  #nav-bar{
    bottom: 0px;
    padding-bottom: var(--panel-open-ldg) !important;
    
    & > * {opacity: 1 !important;}
  }
}

/* search */
#urlbar:is([breakout][breakout-extend]){
  #urlbar-input {font-size: 20px !important;}
  
  position: fixed !important;

  bottom: auto !important;
  top: 20vh !important;
  
  left: 18vw !important;
  right: 18vw !important;
  width: 64vw !important;
  
  /* background */
  &:before{
    content: "";
    position: fixed;
    pointer-events: none;
    
    width: 100vw;
    height: 100vh;
    
    top: 0px;
    left: 0px;
    
    background-color: var(--bg-col);
    opacity: 0.7;
    backdrop-filter: blur(300px);
  }
}

/* reduce ledge in fullscreen */
#main-window[inFullscreen="true"] #nav-bar{bottom: calc(var(--panel-hide-ldg) - var(--toolbar-item-hgt) );}

/* adaptive to small window width */
@media (max-width: 1000px) {
  :root{--navbar-real-wdt: 98vw !important;}
  #nav-bar{
    max-width: none !important;
    left: calc((100vw - var(--navbar-real-wdt)) / 2) !important;
  }
}



/* TOOLBAR */

/* toolbar initial setup */
#TabsToolbar {
  position: fixed; 
  z-index: 3;
  
  width: var(--toolbar-button-wdt);
  
  top: calc(var(--margin) + 15px);
  right: calc(var(--margin) + var(--panel-hide-ldg) - var(--toolbar-button-wdt));
  
  background-color: var(--tb-col);
  
  transition: var(--transition) !important;
  
  border-radius: var(--rounding);
  border: var(--outline) !important;
  outline: var(--shadow) !important;
  
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none !important;
  
  & > * {
    transition: var(--transition) !important;
    opacity: 0;
  }
}

/* vertical orientation */
#TabsToolbar-customization-target{
  
  display: flex !important;
  flex-direction: column !important;
  justify-content: left !important;
  
  & > * {padding: 3px !important;}
}

/* fullscreen */
#main-window[inFullscreen="true"] #TabsToolbar{right: calc(var(--panel-hide-ldg) - var(--toolbar-button-wdt));}

/* limit toolbar items width */
#TabsToolbar-customization-target > * {max-width: var(--toolbar-button-wdt) !important}

/* delete hardcoded menu button padding */
#PanelUI-menu-button {padding-right: 0px;}

/* show toolbar on hover or focus */
#main-window:has(
  #TabsToolbar:hover
  .titlebar-buttonbox-container:not(:hover),
  #TabsToolbar-customization-target > *[open]
) {
  #TabsToolbar{
    right: 0px;
    width: calc(var(--toolbar-button-wdt) + var(--panel-open-ldg));
    padding-right: var(--panel-open-ldg) !important;
    
    & > * {opacity: 1 !important;}
  }
}



/* MENU BAR */

/* initial setup */
#toolbar-menubar{
  position: fixed;
  overflow: clip;
  z-index: 3;
  
  width: -fit-content;
  max-height: 0px;
  
  padding-bottom: 0 !important;
  
  transition: var(--transition) !important;
  
  top: var(--margin);
  left: calc(var(--sdbr-real-wdt) + var(--margin));
  
  border-radius: var(--rounding);
  background-color: var(--tb-col);
}

/* outline only when visible */
#toolbar-menubar:not([inactive="true"]){
  border: var(--outline) !important;
  outline: var(--shadow) !important;
}



/* CUSTOMIZATION MENU */
#main-window[customizing]{
  --sdbr-real-wdt: 0px !important;
  #nav-bar{
    bottom: 50px !important;
    padding-bottom: var(--panel-open-ldg) !important;
    & > * {opacity: 1 !important;}
  }
  #TabsToolbar{
    right: 0px !important;
    width: var(--toolbar-button-wdt) !important;
    padding-right: 0px !important;
    & > * {opacity: 1 !important;}
  }
}



/* OTHER THINGS */

/* change Userchrome Toggle icon to sidebar icon */
:is(.webextension-browser-action, .eom-addon-button)[data-extensionid="userchrome-toggle@joolee.nl"] 
.toolbarbutton-icon {list-style-image: url("chrome://browser/skin/sidebars.svg");}

/* red colored original sidebar button */
#sidebar-button .toolbarbutton-icon{background-color: red !important;}

/* text when Sidebery not opened */
#main-window:has( 
  #sidebar-box[hidden="true"],
  #sidebar-box:not([sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"])
 ) {
  #browser::before{
    content: "Open Sidebery!";
    position: fixed;
    z-index: 10;
  }
}

/* drag window using top border */
#browser::after {
  position: fixed;
  pointer-events: none;
  -moz-window-dragging: drag;
  z-index: 1;
  
  height: calc(var(--margin) + 2px);
  top: -1px;
  width: 100vw;
  
  content: "";
  background-color: transparent;
}

/* statuspanel */
#statuspanel #statuspanel-label {
  padding-inline: 6px !important;
  border-radius: var(--rounding) !important;
  margin: var(--margin) !important;
  
  background-color: var(--tb-col) !important;
  color: var(--bt-col) !important;
  
  border: var(--outline) !important;
  outline: var(--shadow) !important;
}

/* findbar */
findbar {
  background: var(--bg-col) !important;
  border: none !important;
  
  /* position on top */
  order: -1 !important;
  
  /* some padding tweaks */
  padding: var(--margin) !important;
  padding-bottom: 0 !important;
  & > * {padding: 0 !important;}
}

.findbar-container {width: -fit-content !important;}

/* findbar fullscreen */
#main-window[inFullscreen="true"] {
  findbar{
    padding-top: calc(var(--margin) / 2) !important;
    padding-bottom: calc(var(--margin) / 2) !important;
  }
}

/* devtools */
.browserSidebarContainer { background-color: var(--bg-col) !important;}
.devtools-side-splitter,
.devtools-horizontal-splitter
{background-color: transparent !important;}

/* fix some items dissapearing */
#titlebar, #customizationui-widget-panel 
{opacity: 1 !important;}

/* MacOS fix (not tested) */
#navigator-toolbox{
  position: relative;
  z-index: 3;
}



/* COMPACT */

/* compact context menu */
.menupopup-arrowscrollbox,
#context-navigation > .menuitem-iconic 
{border-radius: var(--rounding) !important;}

#context-navigation > .menuitem-iconic[disabled="true"] {background-color: transparent !important;}

#main-window > #mainPopupSet > #contentAreaContextMenu > #shadow-root > .menupopup-arrowscrollbox {
  border-radius: calc(var(--rounding) / 2) !important; 
  padding: 6px !important;
} 

menupopup {margin: 6px 0 !important;}

#main-menubar menupopup {margin: 6px 8px 0 -8px !important;}

menupopup > menuitem,
menupopup > menu {
  max-height: 20px !important;
  min-height: 20px !important;
  border-radius: calc(var(--rounding) / 2) !important;
  padding-inline: 6px !important;
  margin: 0 !important;
}
.menu-accel {margin-inline: 6px 0 !important;}

/* compact unified extensions menu */
#unified-extensions-view{--uei-icon-size: 20px;}
.unified-extensions-item-message-deck,
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header + toolbarseparator,
#unified-extensions-view .panel-subview-body + toolbarseparator
{ display:none !important; }

:is(panelview, #widget-overflow-fixed-list) .toolbaritem-combined-buttons 
{ margin: 2px 4px !important; }

.unified-extensions-item-menu-button.subviewbutton {
    padding: 2px !important;
    visibility: visible !important;
    transition: 300ms !important;
    -moz-margin-end: initial !important;
}

#unified-extensions-view .panel-subview-body {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#unified-extensions-view .unified-extensions-item .unified-extensions-item-icon,
#unified-extensions-view .unified-extensions-item .toolbarbutton-badge-stack 
{ margin-inline-end: 2px !important; }

#unified-extensions-view .unified-extensions-item-name, 
#unified-extensions-view .unified-extensions-item-message {
    padding-inline-start: 0.5em !important;
    width: 21em !important;
}
