@-moz-document url("about:home"),url("about:newtab"),url("about:blank") {
  
  /* sites shortcuts */
  .top-site-button{
    background-color: var(--newtab-background-color-secondary);
    border-radius: 10px;
    overflow: clip;
  }
  
  .tile{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .title {
    background-color: rgba(130, 130, 130, 0.4);
    & > span {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  
  .top-site-outer:is(.active, :focus, :hover)
  {background: rgba(150, 150, 170, 0.3) !important;}
  
  .top-site-outer {
    padding-bottom: 16px !important;
    border-radius: 15px !important;
  }
  
  /* searchbar rounding */
  .search-handoff-button {border-radius: 100px !important}
  
  /* wallpaper */
  body{
    background-image: url("./wallpaper.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
  
  /* central box background */
  main{
    background-color: rgba(43, 42, 51, 0.3);
    border-radius: 20px
  }
}
