@-moz-document url("about:home"),url("about:newtab"),url("about:blank") {
  .top-site-button{
    background-color: var(--newtab-background-color-secondary);
    border-radius: 10px;
    overflow: clip;
  }
  .tile{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .title {
    background-color: rgba(130, 130, 130, 0.4);
    & > span {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .top-site-outer:is(.active, :focus, :hover)
  {background: rgba(110, 110, 130, 0.2) !important;}
  
  .top-site-outer {padding-bottom: 16px !important;}
  
  .search-inner-wrapper {border-radius: 10px !important}
}
