/* ShyFox Navbar - Top */

/* variables */
:root{
  --navbar-real-wdt: var(--navbar-wdt);
  
  /* idk why in needed here, but without it all breaks */
  --right-margin: 0px;
}

#main-window:not([titlepreface*="‌"]){
  --top-margin: calc(var(--toolbar-item-hgt)) !important;
}

/* initial */
#nav-bar{
  position: fixed !important;
  z-index: 1 !important;
  
  transition: var(--transition) !important;
  
  background-color: var(--bg-col) !important;
  
  top: 0px;
  left: var(--left-margin);
  right: var(--right-margin);
  
}

/* centered navbar text */
#urlbar:not(:is(
  [breakout][breakout-extend],
  :focus-within
) ) {
  #urlbar-input {text-align: center !important}
}

/* margins for window controls */
#main-window:not([inFullscreen])[titlepreface*="​"]:not([titlepreface*="‌"])
{ #nav-bar{margin-right: var(--buttonbox-right-wdt);} }

#main-window:not([inFullscreen]):not([titlepreface*="​"]):not([titlepreface*="‌"])
{ #nav-bar{margin-right: var(--buttonbox-right-wdt); } }

#main-window:not([inFullscreen])[titlepreface*="᠎"]:not([titlepreface*="‌"])
{ #nav-bar{margin-left: var(--buttonbox-left-wdt);} }



/* hidden state */
#main-window[titlepreface*="‌"]{
  
  #nav-bar{
    
    z-index: 3 !important;
    
    background-color: var(--tb-col) !important;
    
    width: var(--navbar-real-wdt);
    max-width: calc(
      100vw 
      - var(--left-margin)
      - var(--right-margin)
    );
    
    top: calc(
      var(--margin) 
      + var(--panel-hide-ldg) 
      - var(--toolbar-item-hgt) 
    );
    
    left: calc(
      (
        100vw 
        - var(--navbar-real-wdt) 
        + var(--left-margin) 
      - var(--right-margin) 
      ) / 2 
    );
    
    right: auto;
    
    /* border, corners, shadow */
    border-radius: var(--rounding);
    border: var(--outline) !important;
    outline: var(--shadow) !important;
  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none !important;
  
    & > *:not(#customizationui-widget-panel) {
      transition: var(--transition) !important;
      opacity: 0;
    }
  }
  
  &[inFullscreen="true"]{
    #nav-bar{
      top: calc(
        var(--panel-hide-ldg) 
        - var(--toolbar-item-hgt) 
      );
      
      opacity: 0;
    }
  }
  
  /* show on hover or focus */
  &:has(
    #nav-bar:hover,
    #urlbar:focus-within,
    #urlbar[breakout][breakout-extend],
    #nav-bar-customization-target *[open]
  ) {
    #nav-bar{
      top: 0px;
      padding-top: var(--panel-open-ldg) !important;
      opacity: 1 !important;
      
      & > * {opacity: 1 !important;}
    }
  }
  /* adaptive to small window width */
  @media (max-width: 1000px) {
    :root{--navbar-real-wdt: 98vw !important;}
    #nav-bar{
      max-width: none !important;
      left: calc((100vw - var(--navbar-real-wdt)) / 2) !important;
    }
  }
}
  
/* rounded urlbar */
#urlbar-background {border-radius: calc(var(--rounding))!important;}

/* limit items height */
#nav-bar-customization-target > * {max-height: var(--toolbar-item-hgt) !important;}



/* findbar */
findbar {
  background: var(--bg-col) !important;
  border: none !important;
  
  /* position on bottom */
  order: 1 !important;
  
  padding-top: var(--margin) !important;
  padding-bottom: 0px !important;
}

/* rounded searchbar */
.findbar-textbox {border-radius: var(--rounding) !important;}

/* fullscreen */
#main-window[inFullscreen="true"] {
  findbar{
    padding: calc(var(--margin) / 2) !important;
  }
}

