/* ShyFox only one close button on left for GNOME */

/* restore original buttons design */
.titlebar-button{
  list-style-image: none !important;
  appearance: auto !important;
}

.titlebar-min {
  -moz-default-appearance: -moz-window-button-minimize !important;
}
.titlebar-max {
  -moz-default-appearance: -moz-window-button-maximize !important;
}
.titlebar-restore {
  -moz-default-appearance: -moz-window-button-restore !important;
}
.titlebar-close {
  -moz-default-appearance: -moz-window-button-close !important;
}


/* Windows */

@media (-moz-platform: windows-win10), (-moz-platform: windows-win11){
  :root {--window-control-wdt: 138px;}
}

@media (-moz-platform: windows-win7), (-moz-platform: windows-win8){
  :root {--window-control-wdt: 105px;}
}

/* Linux GTK */

:root{
  --window-control-gtk-max-wdt: 0px;
  --window-control-gtk-min-wdt: 0px;
}

@media (-moz-gtk-csd-maximize-button) {
  :root {--window-control-gtk-max-wdt: 40px;}
}

@media (-moz-gtk-csd-minimize-button) {
  :root {--window-control-gtk-min-wdt: 40px;}
}

@media (-moz-gtk-csd-available) {
  :root {--window-control-wdt: calc(
    35px
    + var(--window-control-gtk-min-wdt)
    + var(--window-control-gtk-max-wdt)
  );}
}

/* MacOS */
@media (-moz-platform: macos){
  :root {--window-control-wdt: 72px;}
}

/* fullscreen */
:root[sizemode="fullscreen"] {
  --window-control-wdt: 0px;
  .titlebar-buttonbox-container {display: none}
}

/* paddings */
:root{
  --buttonbox-right-wdt: var(--window-control-wdt);
  --buttonbox-right-hgt: 30px;
  
  --buttonbox-left-wdt: 0px;
  --buttonbox-left-hgt: 0px;
}

/* move buttons to correct position */
.titlebar-buttonbox-container{
  position: fixed !important;
  overflow: clip !important;

  z-index: -1 !important;
  
  transition: var(--transition) !important;
  
  /* set position to right */
  right: 0px;
  top: 8px;
}

/* Rules for window controls on left */
@media (-moz-gtk-csd-reversed-placement), (-moz-platform: macos){
  :root{
    --buttonbox-right-wdt: 0px !important;
    --buttonbox-right-hgt: 0px !important;
   
    --buttonbox-left-wdt: var(--window-control-wdt) !important;
    --buttonbox-left-hgt: 30px !important;
  }
  
  /* set position to left */
  .titlebar-buttonbox-container{
    left: 0px !important;
    right: auto;
  }
}

