/*== ShyFox Compact Menus ===========================================================================================================================

Shrink some things so they take up less space


--- CONTEXT MENU ------------------------------------------------------------------------------------------------------------------------------------

*/

.menupopup-arrowscrollbox,
#context-navigation > .menuitem-iconic {border-radius: var(--big-rounding) !important;}

#context-navigation > .menuitem-iconic[disabled="true"] {background-color: transparent !important;}

menupopup > :is(menuitem, menu){
  max-height: 20px !important;
  min-height: 20px !important;
  border-radius: var(--rounding) !important;
  margin: 0 !important;
}

:is(.bookmark-item, #PlacesChevron) :is(menuitem, menu) {margin-inline: 5px !important;}

/* 

--- EXTENSIONS MENU ---------------------------------------------------------------------------------------------------------------------------------

*/

#unified-extensions-view{
  
  --uei-icon-size: 24px;
  --extensions-in-row: 4;

  width: 100% !important;
  :is(
    toolbarseparator,
    .unified-extensions-item-menu-button.subviewbutton,
    .unified-extensions-item-action-button .unified-extensions-item-contents
  ) {display: none !important;}

  :is(
    #overflowed-extensions-list,
    #unified-extensions-area,
    .unified-extensions-list 
  ){
    display: grid !important;
    grid-template-columns: repeat(var(--extensions-in-row),auto);
    justify-items: center !important;
    align-items: center !important;
  }

  :is(
    :is(
      #unified-extensions-area,
      .unified-extensions-list
    ) .unified-extensions-item,
    .unified-extensions-list
  ){max-width: max-content;}

  #unified-extensions-area {
    margin-bottom: 5px !important;
    border-top: 1px solid var(--panel-separator-color);
    border-bottom: 1px solid var(--panel-separator-color);
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .unified-extensions-item-action-button {padding-right: 3px !important;}
}
