/*== ShyFox Compact Menus ===========================================================================================================================

Shrink some things so they take up less space


--- CONTEXT MENU ------------------------------------------------------------------------------------------------------------------------------------

*/

.menupopup-arrowscrollbox,
#context-navigation > .menuitem-iconic {border-radius: var(--big-rounding) !important;}

#context-navigation > .menuitem-iconic[disabled="true"] {background-color: transparent !important;}

menupopup > :is(menuitem, menu){
  max-height: 20px !important;
  min-height: 20px !important;
  border-radius: var(--rounding) !important;
  margin: 0 !important;
}

:is(.bookmark-item, #PlacesChevron) :is(menuitem, menu) {margin-inline: 5px !important;}

/* 

--- EXTENSIONS MENU ---------------------------------------------------------------------------------------------------------------------------------

*/

#unified-extensions-panel #unified-extensions-view 
{width: 100% !important;}

#unified-extensions-view{
    --uei-icon-size: 22px; 
    --extensions-in-row: 4;
}

#unified-extensions-view .panel-subview-body + toolbarseparator,
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton,
#unified-extensions-view .unified-extensions-item-action-button .unified-extensions-item-contents
{display:none !important;}

#unified-extensions-view #overflowed-extensions-list,
#unified-extensions-view #unified-extensions-area,
#unified-extensions-view .unified-extensions-list {
  display: grid !important;
  grid-template-columns: repeat(var(--extensions-in-row),auto);
  justify-items: center !important;
  align-items: center !important;
}

#unified-extensions-view .unified-extensions-list .unified-extensions-item,
#unified-extensions-view .unified-extensions-list
{max-width: max-content;}

#unified-extensions-view #unified-extensions-area {
  padding-bottom: 5px !important;
  border-bottom: 1px solid var(--panel-separator-color);
}

