/* ShyFox Variables */

/* Settings */

:root{ 
  
  /* border thickness */
  --margin: 0.8rem;
  
  /* rounded corners radius of most elements */
  --rounding: 10px;
  
  /* animations time */
  --trans-dur: 0.25s;
  
  --sdbr-wdt: 300px;
  
  --navbar-wdt: 60vw;
  
  --findbar-wdt: 50vw;
  
  /* how much thinner hidden panels bars than window border */
  --hide-bar-padding: 3px;
  
  /* transparency of theese bars */
  --hide-bar-opct: 0.2;
  
  /* Ñ€ow much shorter these bars than panels */
  --hide-bar-wdt-pad: 10px;
  
  /* colors */
  --shadow-col: #00000020;
  --private-col: #6e00bc80;
  --debug-col: transparent; /* rgba(0, 0, 255, 0.2) */
}


/* Variables */

:root{
  
  /* pick browser colors */
  --bg-col: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
  --tb-col: var(--toolbar-bgcolor);
  --bt-col: var(--toolbarbutton-icon-fill);
  --st-col: var(--sidebar-background-color);   /* it is page header color, applyed by "adaptive tab bar color", sidebar background overrided btw */
  
  /* shared shortcuts */
  --outline: 1px solid var(--arrowpanel-background);
  --shadow: 2px solid var(--shadow-col);
  --transition: all var(--trans-dur) ease-out;
  
  /* constant variables  */
  --toolbar-item-hgt: 40px;
  --toolbar-button-wdt: 45px;
  
  /* dynamic margin */
  --left-margin: 0px;
  --right-margin 0px;
  --top-margin: 0px;
  --bottom-margin: 0px; 
  
  &:not([inFullscreen="true"]){
    --left-margin: var(--margin);
    --right-margin: var(--margin);
    --top-margin: var(--margin);
    --bottom-margin: var(--margin);
  }
  
  /* hide indication bars in fullscreen */
  &[inFullscreen="true"]{
    --hide-bar-opct: 0 !important;
  }
  
  /* hidden panel ledge management */
  --panel-hide-ldg: 1px;
  &:not([inFullscreen="true"]){
    --panel-hide-ldg: 0px;
  }
}

/* Rounded buttons */
:root{
  --tab-border-radius: var(--rounding) !important;
  --toolbarbutton-border-radius: var(--rounding) !important;
  --arrowpanel-menuitem-border-radius: var(--rounding) !important;

  /* padding tweak */
  --toolbar-start-end-padding: calc(var(--margin) / 2) !important;
}
