/*== ShyFox Icons ===================================================================================================================================

Adding icons to all sorts of places


--- BOOKMARKS TOOLBAR -------------------------------------------------------------------------------------------------------------------------------

*/

/* overflow */  
#PlacesChevron {list-style-image: url("../icons/bookmarks-toolbar.svg") !important;}

/* hide folders icons */
.bookmark-item[container="true"] .toolbarbutton-icon {display: none}

/* other bookmarks */
#OtherBookmarks{
  & > label {display: none !important;}
  & > image {margin-inline: 0px !important;}
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 7px;
  width: 20px !important;
  background-image: url("../icons/book.svg") !important;
}

.openintabs-menuitem{
  .menu-text{
    padding-inline-start: 25px !important;
    background-image: url("../icons/bookmark-multiple.svg") !important;
    background-repeat: no-repeat;
  }
}

/* 

--- MONOCHROME EXTENSIONS ---------------------------------------------------------------------------------------------------------------------------

Monochrome icons for some extensions


*/

/* Userchrome Toggle => sidebar icon */
:is(.webextension-browser-action,
.eom-addon-button):is([data-extensionid="userchrome-toggle-extended@n2ezr.ru"],
[data-extensionid="userchrome-toggle@joolee.nl"] ) 
.toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/sidebars.svg");
}

/* uBlock Origin => custom svg icon */
:is(.webextension-browser-action,
.eom-addon-button)[data-extensionid="uBlock0@raymondhill.net"] 
.toolbarbutton-icon {
  list-style-image: url("../icons/ublock.svg");
}

/* Bitwarden => custom svg icon */
:is(.webextension-browser-action,
.eom-addon-button)[data-extensionid="{446900e4-71c2-419f-a6a7-df9c091e268b}"] 
.toolbarbutton-icon {
  list-style-image: url("../icons/bitwarden.svg");
}

/* Privacy Badger => it's own monochrome icon */
:is(.webextension-browser-action,
.eom-addon-button)[data-extensionid="jid1-MnnxcxisBPnSXQ@jetpack"] 
.toolbarbutton-icon {
  list-style-image: image-set( url("moz-extension://51ac6f66-1bb5-4473-93a0-41ead025ec8f/icons/badger-19-disabled.png"), url("moz-extension://51ac6f66-1bb5-4473-93a0-41ead025ec8f/icons/badger-38-disabled.png") );
}

/* Dark Reader => custom svg icon (moon) */
:is(.webextension-browser-action,
.eom-addon-button)[data-extensionid="addon@darkreader.org"] 
.toolbarbutton-icon {
  list-style-image: url("../icons/moon.svg");
}

/* gray background for all badges */
.toolbarbutton-badge {
  background-color: rgba(102, 102, 102, 1) !important;
}


/* 

--- MENU --------------------------------------------------------------------------------------------------------------------------------------------

In menu button


*/

/* icons color */
#appMenu-multiView .subviewbutton::before,
#appMenu-proton-update-banner::before,
#protections-popup-tp-switch-breakage-link::before,
#downloadsHistory .button-icon,
.subviewbutton:not(#appMenu-proton-update-banner) > image {
  fill: currentColor !important;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  -moz-context-properties: fill, fill-opacity, stroke !important;
}

/* text padding */
#appMenu-multiView .toolbarbutton-text,
#customizationui-widget-panel .toolbarbutton-text,
#identity-popup-clear-sitedata-button .toolbarbutton-text,
#unified-extensions-manage-extensions .toolbarbutton-text,
#widget-overflow .toolbarbutton-text,
#protections-popup-tp-switch-breakage-link .toolbarbutton-text,
#downloadsPanel #downloadsHistory .button-text,
.protections-popup-footer-button-label
{padding-left: 6px !important;}

/* security popup */
#protections-popup-tp-switch-breakage-link::before {content: url("chrome://global/skin/icons/help.svg"); scale: 1.1}
#protections-popup-settings-button {list-style-image: url("chrome://global/skin/icons/settings.svg");}
#protections-popup-show-report-stack {list-style-image: url("../icons/dashboard.svg");}

/* delete cookies */
#identity-popup-clear-sitedata-button {list-style-image: url("../icons/trash.svg");}

/* extensions popup */
#unified-extensions-manage-extensions {list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");}

/* main menu */
#appMenu-proton-update-banner::before {content: url("../icons/whatsnew.svg");}
#appMenu-new-tab-button2 {list-style-image: url("../icons/new-tab.svg");}
#appMenu-new-window-button2 {list-style-image: url("../icons/window.svg");}
#appMenu-new-private-window-button2 {list-style-image: url("chrome://browser/skin/privateBrowsing.svg");}
#appMenu-bookmarks-button {list-style-image: url("chrome://browser/skin/bookmark.svg");}
#appMenu-history-button {list-style-image: url("chrome://browser/skin/history.svg");}
#appMenu-downloads-button {list-style-image: url("chrome://browser/skin/downloads/downloads.svg");}
#appMenu-passwords-button {list-style-image: url("chrome://browser/skin/login.svg");}
#appMenu-extensions-themes-button {list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");}
#appMenu-print-button2 {list-style-image: url("chrome://global/skin/icons/print.svg");}
#appMenu-save-file-button2 {list-style-image: url("../icons/toolbarButton-download.svg");}
#appMenu-find-button2 {list-style-image: url("chrome://global/skin/icons/search-glass.svg");}
#appMenu-translate-button {list-style-image: url("../icons/translate.svg");}
#appMenu-zoom-controls::before, #appMenu-zoom-controls2::before {content: url("../icons/screenshot.svg");}
#appMenu-settings-button {list-style-image: url("chrome://global/skin/icons/settings.svg");}
#appMenu-more-button2 {list-style-image: url("../icons/ion.svg");}
#appMenu-help-button2 {list-style-image: url("chrome://global/skin/icons/help.svg");}
#appMenu-quit-button2 {list-style-image: url("../icons/quit.svg");}

#PanelUI-fxa-menu-syncnow-button {padding-left: 11.3px !important;}
#PanelUI-fxa-menu-syncnow-button::before {content: url("chrome://browser/skin/sync.svg"); width: 13px; height: 15px; scale: 1.5; padding-right: 5px}
#PanelUI-fxa-menu-connect-device-button {list-style-image: url("../icons/add-device.svg");}
#PanelUI-fxa-menu-sendtab-button {list-style-image: url("../icons/send-to-device.svg");}
#PanelUI-fxa-menu-sync-prefs-button {list-style-image: url("chrome://global/skin/icons/settings.svg");}
#PanelUI-fxa-menu-account-signout-button {list-style-image: url("../icons/sign-out.svg");}

#panelMenuBookmarkThisPage {list-style-image: url("chrome://browser/skin/bookmark-hollow.svg");}
#panelMenuBookmarkThisPage[starred] {list-style-image: url("chrome://browser/skin/bookmark.svg");}
#panelMenu_searchBookmarks {list-style-image: url("chrome://global/skin/icons/search-glass.svg");}
#panelMenu_viewBookmarksToolbar {list-style-image: url("../icons/bookmarks-toolbar-alt.svg");}
#panelMenu_showAllBookmarks {list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");}

#appMenuSearchHistory {list-style-image: url("chrome://global/skin/icons/search-glass.svg");}
#appMenuClearRecentHistory {list-style-image: url("../icons/forget.svg");}
#PanelUI-historyMore {list-style-image: url(chrome://browser/skin/history.svg);}
#appMenuRecentlyClosedTabs {list-style-image: url("../icons/tab.svg");}
#appMenuRecentlyClosedWindows {list-style-image: url("chrome://browser/skin/window.svg");}
#appMenuRestoreSession, #appMenu-restoreSession {list-style-image: url("../icons/restore-session.svg");}
  
#appmenu-moreTools-button, #overflowMenu-customize-button {list-style-image: url("chrome://browser/skin/customize.svg");}

#appmenu-developer-tools-view .subviewbutton:nth-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-child(1) {
  list-style-image: url("../icons/developer.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-child(2) {
  list-style-image: url("../icons/performance.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-child(3) {
  list-style-image: url("../icons/bug.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-child(4) {
  list-style-image: url("../icons/window-dev-tools.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-child(5) {
  list-style-image: url("../icons/command-frames.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-last-child(5),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(5) {
  list-style-image: url("../icons/command-console.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-last-child(4),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(4) {
  list-style-image: url("../icons/command-responsivemode.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-last-child(3),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(3) {
  list-style-image: url("../icons/command-eyedropper.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-last-child(2),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(2) {
  list-style-image: url("../icons/document-search.svg");}
#appmenu-developer-tools-view .subviewbutton:nth-last-child(1),
#PanelUI-developer-tools-view .subviewbutton:nth-last-child(1) {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");}
#appmenu-developer-tools-view .subviewbutton:last-child {margin-bottom: 6px !important;}

#appMenu_menu_openHelp {list-style-image: url("chrome://global/skin/icons/help.svg");}
#appMenu_feedbackPage {list-style-image: url("../icons/send.svg");}
#appMenu_helpSafeMode {list-style-image: url("chrome://devtools/skin/images/debugging-workers.svg");}
#appMenu_troubleShooting {list-style-image: url("chrome://global/skin/icons/more.svg");}
#appMenu-report-broken-site-button, #appMenu_help_reportSiteIssue {list-style-image: url("chrome://global/skin/icons/lightbulb.svg");}
#appMenu_menu_HelpPopup_reportPhishingtoolmenu {list-style-image: url("chrome://global/skin/icons/warning.svg");}
#appMenu_helpSwitchDevice {list-style-image: url("../icons/add-device.svg");}
#appMenu_aboutName {list-style-image: url("chrome://global/skin/icons/info.svg");}
  
#downloadsHistory {list-style-image: url("chrome://browser/skin/downloads/downloads.svg");}

/* 

--- CONTEXT MENU ------------------------------------------------------------------------------------------------------------------------------------


*

#contentAreaContextMenu menuitem{
  fill: currentColor !important;
  fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  -moz-context-properties: fill, fill-opacity, stroke !important;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 1px;
}


#context-viewimage {background-image: url("../icons/image.svg") !important;}
#context-saveimage {background-image: url("chrome://browser/skin/downloads/downloads.svg") !important;}
#context-copyimage-contents {background-image: url("../icons/tab-copy.svg") !important;}
#context-copyimage {background-image: url("../icons/link.svg") !important;}
#context-sendimage {background-image: url("../icons/mail.svg") !important;}
#context-setDesktopBackground {background-image: url("../icons/tab.svg") !important;}