/*== ShyFox Variables ===============================================================================================================================

This is where most of variables are located


--- SETTINGS ----------------------------------------------------------------------------------------------------------------------------------------

Values of these variables can be changed safely and most likely nothing will break.

*/

:root{ 
  /* accent color */
  --shy-color: #3584E4;
  
  /* window border thickness and size of many margins */
  --margin: 0.8rem;
  
  /* rounded corners radius of most elements */
  --rounding: 11.5px;
  --big-rounding: 15px;
  
  /* animations time */
  --trans-dur: 0.25s;
  
  /* width of some elements. 1vw is one hundredth of the screen width */
  --sdbr-wdt: 300px;
  
  --navbar-wdt: 60vw;
  
  --findbar-wdt: 70vw;
  
  /* transparency of indicator bars showing the position of hidden panels */
  --hide-bar-opct: 0.2;
  
  /* how much shorter these bars than panels */
  --hide-bar-wdt-pad: 10px;
  
  /* size of the panel hitbox outside the window border */
  --panel-hide-ldg: 1px;            /* f11 fullscreen   */
  &:not([inFullscreen="true"]){
    --panel-hide-ldg: 0px;          /* maximized window */ 
    &[sizemode="normal"]{
      --panel-hide-ldg: 9px;        /* floating window  */
    }
  }
  
  /* colors */
  --shadow-col:  #00000020;  /* color of the translucent outline that imitates a shadow                                                 */
  --private-col: #6e00bc80;  /* private mode outline color                                                                              */
  --debug-col: transparent;  /* should be transparent, but you can change it to rgba(0, 0, 255, 0.2) if you want to see all the secrets */
}

/* 

--- VARIABLES ----------------------------------------------------------------------------------------------------------------------------------

Reserved values and all sorts of dynamic variables. You should not touch them.

*/

:root{
  
  /* pick browser colors */                     /* used for:          */
  --bg-col: var(--lwt-accent-color);            /* darker background  */
  --tb-col: var(--toolbar-bgcolor);             /* lighter background */
  --bt-col: var(--toolbarbutton-icon-fill);     /* text or icons      */
  --st-col: var(--sidebar-background-color);    /* not used now       */
  
  /* shared shortcuts for commonly used parameters */
  --outline: 1px solid var(--arrowpanel-background);      /* outline around almost anything              */
  --shadow: 2px solid var(--shadow-col);                  /* translucent outline that imitates a shadow  */
  --transition: all var(--trans-dur) ease-out;            /* animation for smooth transitions            */
  
  /* constant variables */
  --toolbar-item-hgt: 40px;       /* height of all panels elements: buttons, urlbar, etc.                                   */
  --toolbar-button-wdt: 45px;     /* width of all panels buttons                                                            */
  --hide-bar-padding: 3px;        /* how much indicator bars showing the position of hidden panels is thinner than --margin */
  
  /* hiding the window border in fullscreen mode and assigning --margin to it in windowed mode */
  --left-margin: 0px;
  --right-margin: 0px;
  --top-margin: 0px;
  --bottom-margin: 0px; 
  
  &:not(:is([inFullscreen="true"], [inDOMFullscreen="true"])){
    --left-margin: var(--margin);
    --right-margin: var(--margin);
    --top-margin: var(--margin);
    --bottom-margin: var(--margin);
  }
  
  /* hide indication bars in fullscreen */
  &:is([inFullscreen="true"], [inDOMFullscreen="true"]){
    --hide-bar-opct: 0 !important;
  }
  
  /* override built-in roundings with custom */
  --tab-border-radius: var(--rounding) !important;
  --toolbarbutton-border-radius: var(--rounding) !important;
  --arrowpanel-menuitem-border-radius: var(--rounding) !important;
  --arrowpanel-border-radius: var(--big-rounding) !important;
  --button-border-radius: var(--rounding) !important;
  --border-radius-small: var(--rounding) !important;
  
  /* override one padding in navbar to match style */
  --toolbar-start-end-padding: calc(var(--margin) / 2) !important;
}
