:root{
  --left-nvbr-hgt: 0px;
  --left-bmbr-hgt: 0px;
}

:root:not([titlepreface*="؜"]):not(:has(#sidebar-main[hidden])){
  --left-margin: var(--sdbr-tb-wdt);
  &:has(
    #sidebar-box:not([hidden]),
    #sidebar-main > *[expanded]
  ) { --left-margin: var(--sdbr-wdt); }
}

/* 

##############################################################################################################################

 S I D E B A R

*/

#sidebar-main{
  position: fixed;
  z-index: 2;
}

.wrapper:has(.tools-and-extensions) {
  background: color-mix(in srgb, var(--bg-col), transparent 25%) !important;
  color: var(--bg-txt) !important;
  border: 0px solid transparent !important;
  
  padding-inline: 2px !important;
  &:has(.expanded-button[label]) { padding-inline: var(--toolbar-start-end-padding) !important; }
  
  min-width: 0px !important;
  
  .expanded-button { --button-padding: 2px 5px !important; }
}

:root:has(#sidebar-main > *[expanded]) #sidebar-box {
  filter: blur(5px) !important;
}

#vertical-tabs .tabbrowser-tab{
  max-width: none !important;
  margin-inline: 0px !important;
  
  .tab-icon-image{ margin-inline: 0px !important; }
  .tab-label-container{ margin-inline-start: 6px !important; }
  
  &:nth-last-child(1 of [pinned]) {
    border-bottom: 1px solid CurrentColor !important;
  }
}

#vertical-tabs #tabbrowser-arrowscrollbox-periphery #tabs-newtab-button {display: flex !important;}

#sidebar-box{
  position: fixed;
  z-index: 1 !important;
}

#sidebar-splitter{
  display: none !important;
}

#sidebar-header{
  padding: 0 !important;
  border: none !important;
}

#sidebar-switcher-target{
  margin: 0 !important;
  padding: 0 5px !important;
  border-radius: 0 !important;
}

#identity-icon-box{
  padding-inline: 6px !important;
}

#sidebar-box, #sidebar-main{
  --sidebar-background-color: var(--bg-col) !important;
  --sidebar-text-color: var(--bg-txt) !important;
  
  top: calc(var(--left-nvbr-hgt) + var(--left-bmbr-hgt));
  bottom: var(--margin);  
}

:root:not( :has(#sidebar-box[hidden]) )
#sidebar-main > *:not([expanded]){
  width: var(--sdbr-tb-wdt) !important;
}

#sidebar-main > *[expanded]{
  width: var(--sdbr-wdt) !important;
}

#sidebar-box{
  width: calc( var(--sdbr-wdt) - var(--sdbr-tb-wdt) ) !important;
  left: var(--sdbr-tb-wdt);
}

/* 

##############################################################################################################################

 N A V B A R

*/

@media (-moz-bool-pref: "shyfox.position.navbar") {
  :root{
    --left-nvbr-hgt: calc(var(--nvbr-hgt) * 2);
  }
  
  #nav-bar{
    left: 0;
    top: 0;
    width: var(--sdbr-wdt) !important;
    
    padding-bottom: var(--nvbr-hgt) !important;
    height: calc(var(--nvbr-hgt) * 2) !important;
  }
  
  #urlbar-container{
    width: calc(var(--sdbr-wdt) - var(--toolbar-start-end-padding) * 2) !important;
    height: var(--nvbr-hgt) !important;
    
    margin: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
    
    position: absolute !important;
    bottom: 0;
  }
    
  #urlbar[breakout-extend]{
    #urlbar-background{
      border-radius: 0 !important;
      border-left: none !important;
      border-right: none !important;
    }
    
    width: var(--sdbr-wdt) !important;
    left: calc( 0px - var(--toolbar-start-end-padding)) !important;
    right: 0 !important;
  }
  
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

@media (-moz-bool-pref: "shyfox.position.bookmarkbar") {
  :root{
    --bmbr-hgt: 40px;
    --left-bmbr-hgt: var(--bmbr-hgt);
  }
  
  #PersonalToolbar{
    left: 0;
    top: var(--left-nvbr-hgt);

    width: var(--sdbr-wdt) !important;
  }
}
