/*== ShyFox Floating Search =========================================================================================================================

Cool floating search panel


*/

#urlbar[breakout-extend]{
  #urlbar-input {font-size: 24px !important;}
  #urlbar-input-container {height: 55px !important;}
  #urlbar-background {border-radius: 20px !important;}
  
  position: fixed !important;
  z-index: 999999 !important;
  
  bottom: auto !important;
  top: 20vh !important;
  
  left: 18vw !important;
  right: 18vw !important;
  width: 64vw !important;
  
  /* cool translucent background */
  &:before{
    content: "";
    position: fixed;
    pointer-events: none;
    border-radius: var(--rounding);
    
    width: 100vw;
    height: 100vh;
    
    top: 0px;
    left: 0px;
    
    background-color: color-mix(in srgb, var(--bg-col) 80%, transparent);
  }
}

