:root{
  --left-nvbr-hgt: 0px;
  --left-bmbr-hgt: 0px;
}

:root:not([titlepreface*="؜"]):not(:has(#sidebar-main[hidden])){
  --left-margin: var(--sdbr-tb-wdt);
  &:has(
    #sidebar-box:not([hidden]),
    #sidebar-main > *[expanded]
  ) { --left-margin: var(--sdbr-wdt); }
}

/* 

##############################################################################################################################

 S I D E B A R

*/

.wrapper:has(.tools-and-extensions) {
  background: color-mix(in srgb, var(--bg-col), transparent 50%) !important;
  color: var(--bg-txt) !important;
  border: 0px solid transparent !important;
  
  padding-inline: 2px !important;
  padding-block: 0px !important;
  &:has(.expanded-button) { padding-inline: var(--toolbar-start-end-padding) !important; }
  
  min-width: 0px !important;
  .tools-and-extensions, .bottom-actions { padding-inline: 0px !important }
  
  :is(.tools-and-extensions, .bottom-actions) moz-button { margin-block-start: 4px !important; }
}



#vertical-tabs {
  .tabbrowser-tab{ max-width: none !important; }
  
  .tabbrowser-tab:not([pinned], [fadein]) { visibility: collapse !important; }
  
  #vertical-pinned-tabs-container { padding-inline: 0px !important; }
  
  #tabs-newtab-button{
    display: flex !important;
    appearance: none !important;
    
    border-radius: var(--button-border-radius) !important;
    &:hover { background: var(--button-background-color) !important; }
    
    height: 40px !important;
    width: 100% !important;
    
    .toolbarbutton-icon {
      width: 100% !important;
      height: 16px !important;
      padding: 0 calc( 50% - 8px );
    }
  }
  
  #vertical-tabs-newtab-button{ appearance: none !important; }
  #newtab-button-container{
    margin-inline-end: 0px !important;
    padding-top: 0px !important;
  }
}



#sidebar-splitter{ display: none !important; }

#sidebar-header{
  padding: 0 !important;
  border: none !important;
}

#sidebar-switcher-target{
  margin: 0 !important;
  padding: 0 5px !important;
  border-radius: 0 !important;
}



#sidebar-box, #sidebar-main{
  --sidebar-background-color: var(--bg-col) !important;
  --sidebar-text-color: var(--bg-txt) !important;
  
  position: fixed;
  top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) + var(--margin) );
  bottom: var(--margin);  
}

#sidebar-box{
  z-index: 1 !important;
  width: calc( var(--sdbr-wdt) - var(--sdbr-tb-wdt) ) !important;
  left: var(--sdbr-tb-wdt);
}

#sidebar{
  border-radius: var(--big-rounding) !important;
  margin-right: calc( var(--margin) / 2 );
}

#sidebar-main{ z-index: 2 !important; }



:root:not( :has(#sidebar-box[hidden]) )
#sidebar-main > *:not([expanded]){
  width: var(--sdbr-tb-wdt) !important;
}

#sidebar-main > *[expanded]{
  width: var(--sdbr-wdt) !important;
}

:root:has(#sidebar-main > *[expanded]) #sidebar-box {
  filter: blur(5px) !important;
}

/* 

##############################################################################################################################

 N A V B A R

*/

@media (-moz-bool-pref: "shyfox.position.navbar") {
  :root{
    --left-nvbr-hgt: calc(var(--nvbr-hgt) * 2);
  }
  
  #nav-bar{
    left: 0;
    top: 0;
    width: var(--sdbr-wdt) !important;
    
    padding-bottom: var(--nvbr-hgt) !important;
    height: calc(var(--nvbr-hgt) * 2) !important;
  }
  
  #urlbar-container{
    width: calc(var(--sdbr-wdt) - var(--toolbar-start-end-padding) * 2) !important;
    height: var(--nvbr-hgt) !important;
    
    margin: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
    
    position: absolute !important;
    bottom: 0;
  }
    
  #urlbar[breakout-extend]{
    #urlbar-background{
      border-radius: 0 !important;
      border-left: none !important;
      border-right: none !important;
    }
    
    width: var(--sdbr-wdt) !important;
    left: calc( 0px - var(--toolbar-start-end-padding)) !important;
    right: 0 !important;
  }
  
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

@media (-moz-bool-pref: "shyfox.position.bookmarkbar") {
  :root{
    --bmbr-hgt: 40px;
    --left-bmbr-hgt: var(--bmbr-hgt);
  }
  
  #PersonalToolbar{
    left: 0;
    top: var(--left-nvbr-hgt);

    width: var(--sdbr-wdt) !important;
  }
}
