
/*

--- NOT SIDEBERY -----------------------------------------------------------------------------------------------------------------------------------

Styles when Sidebery is not opened

*/

/* hide sidebar header when Sidebery opened */
#main-window:not([customizing]):has(
  #sidebar-box:not([hidden])[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) { 
  #sidebar-header {display: none} 
}

/* hide sidebar button on toolbar when sidebar opened */
#main-window:not([customizing]):has(
  #sidebar-box:not([hidden])
) { 
  #sidebar-button {display: none}
}

/* color the sidebar button red */
#sidebar-button .toolbarbutton-icon {
  background-color: red !important;
  fill: white !important;
}

/* notification when sidebar is not opened */
#main-window[chromehidden=""]:has( 
  #sidebar-box[hidden="true"]
) {
  --shyfox-string-open-sidebar: "Open sidebar!";
  &[lang="ru"]{--shyfox-string-open-sidebar: "Откройте боковую панель!";}
  
  &::before{
    content: var(--shyfox-string-open-sidebar);
    position: fixed;
    z-index: 9999;
    
    font-weight: bold;
    
    top: calc(var(--margin) + var(--toolbar-item-hgt));
    left: calc(var(--margin) * 2);
    
    background-color: var(--tb-col);
    color: var(--bt-col);
    outline: 3px solid red;
    
    border-radius: var(--big-rounding);
    padding: 10px;
  }
}

/* styles when Sidebery is not opened but sidebar is */
#main-window[chromehidden=""]:has(
  #sidebar-box:not([hidden]):not([sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) 
) {
  
  --shyfox-string-to-manage-tabs-open-sidebery: "To manage tabs, open Sidebery in this menu";
  &[lang="ru"]{--shyfox-string-to-manage-tabs-open-sidebery: "Для работы с вкладками откройте Sidebery";}
  
  #sidebar {
    border: var(--outline) !important;
    margin: 0 calc(var(--margin) / 1.5) !important;
  }
  
  #sidebar-header{
    padding-bottom: 30px !important;
    border: none !important;
  }
  
  #sidebar-close {display: none}
  
  &[titlepreface*="؜"] {#sidebar {margin-bottom: calc(var(--margin) / 1.5) !important;}}
  
  &:has(#sidebar-box[style*="order: 2"]){
    #sidebar-header{
      /* info text */
      &::before{
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;

        mask-image: url("chrome://global/skin/icons/info-filled.svg");
        background-color: var(--shy-color);
        mask-repeat: no-repeat;

        top: 44px;
        left: 10px;
      }

      &::after{
        content: var(--shyfox-string-to-manage-tabs-open-sidebery);
        position: absolute;
        top: 45px;
        font-size: 11.8px;

        padding-left: 22px;
      }
    }
  }
}

/* assign the button to move the sidebar left and right to enable and disable native tabs for emergencies */

/* if Sidebery is not opened but sidebar is */
#main-window:has(
  #sidebar-box:not([hidden]):not([sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) 
) {
  
  --shyfox-string-enable-native-tabs: "Enable native tabs";
  &[lang="ru"]{--shyfox-string-enable-native-tabs: "Включить нативные вкладки";}
  
  #sidebarMenu-popup #sidebar-reverse-position{
    /* remove original text from this button */
    .menu-text {display: none !important;}
    
    &::after{
      content: var(--shyfox-string-enable-native-tabs) !important;
      padding-inline: 5px;
    }
  }
  
  /* add rounded corners to sidebar content */
  #sidebar {border-radius: var(--big-rounding) !important;}
  
  /* sidebar on left (native tabs disabled, default) */
  &:has(#sidebar-box[style*="order: 2"]){
    /* there is no styles */
  }
  
  /* sidebar on right (native tabs enabled) */
  &:has(#sidebar-box[style*="order: 4"]){
    
    /* add checkmark to button to indicate state */
    #sidebarMenu-popup #sidebar-reverse-position {background-image: url("../icons/menu-check.svg") !important;}
    
    /* display native tabs */
    #tabbrowser-tabs{
      display: flex !important;
      position: fixed !important;
    }
    
    #sidebar{display: none !important;}
  }
}

#tabbrowser-tabs{
  --clip-top: 40px;
  padding-top: var(--clip-top) !important;
  clip-path: polygon(0 var(--clip-top), 100% var(--clip-top), 100% 100%, 0% 100%);
}

.tabbrowser-tab[pinned],
.tabbrowser-tab{
  position: initial !important;
  margin-left: 5px !important;
  width: calc(var(--sdbr-wdt) - 10px) !important;
  min-width: calc(var(--sdbr-wdt) - 10px) !important;
  max-width: calc(var(--sdbr-wdt) - 10px) !important;
}

.tabbrowser-tab[pinned] .tab-label-container{
  margin-left: 5.5px !important;
}

:root:not([customizing]) #tabbrowser-tabs {
  position: relative !important;
  contain: size !important;
  overflow: hidden !important;
}

:root:not([customizing]) #tabbrowser-arrowscrollbox {
  --var-box-model: -webkit-box;
  --var-scrollbox-overflow: auto;
}

#tabbrowser-tabs:is(haspinnedtabs="") scrollbox[orient="horizontal"],
#tabbrowser-tabs[positionpinnedtabs] scrollbox[orient="horizontal"],
scrollbox[orient="horizontal"] {
  display: var(--var-box-model, flex);
  -webkit-box-orient: vertical;
  height: 100%;
  overflow: var(--var-scrollbox-overflow, initial) !important;
}
