/*== ShyFox Sidebar =================================================================================================================================

Styles for sidebar


--- JUST IMPORTANT THINGS ---------------------------------------------------------------------------------------------------------------------------

*/

/* reserve space for bookmarks toolbar */
:root{
  --little-gap: calc(var(--margin) / 1.5);
  --bookmarks-hgt: var(--toolbar-item-hgt);
}

/* remove space reserved for bookmarks toolbar if it hidden */
#main-window:has(#PersonalToolbar[collapsed="true"]) {
  --little-gap: 0px;
  --bookmarks-hgt: 0px;
}

/* if sidebar is not hidden or clean mode not enabled, this window is not floating popup and not in fullscreen video */
#main-window:not(:is([titlepreface*="-"], [titlepreface*="?"]))[chromehidden=""]:not([inDOMFullscreen="true"]){
  /* set left margin to sidebar width */
  --left-margin: var(--sdbr-wdt) !important;
}

/* hide sidebar splitter */
#sidebar-splitter {display: none}

/* 

--- SIDEBAR SHOWN -----------------------------------------------------------------------------------------------------------------------------------

*/

/* styles for both sidebar and bookmarks toolbar */
#sidebar-box,
#PersonalToolbar
{
  position: fixed;
  overflow: visible;
  z-index: 2 !important;
  
  min-width: 0px !important;
  max-width: 100vw !important;
  
  left: 0px;

  transition: var(--transition) !important;
  background-color: transparent !important;
  
  padding-top: 0 !important;
  
  & > * {transition: var(--transition) !important;}
}

/* styles for sidebar */
#sidebar-box{
  
  top: calc(
    var(--margin) / 2 
    + var(--bookmarks-hgt)
  );

  height: calc(
    100vh
    - var(--margin) * 2
    + var(--margin) / 2 
    - var(--bookmarks-hgt)
  )!important;
  
  width: var(--sdbr-wdt) !important;
}

/* drag window by empty space in bookmarks toolbar */
#PersonalToolbar > *, #PlacesToolbarItems .bookmark-item[style="visibility: hidden;"]{
  -moz-window-dragging: drag !important;
  background-color: var(--debug-col-2) !important;
}

/* styles for bookmarks toolbar */
#PersonalToolbar{
  visibility: visible !important;
  height: var(--toolbar-item-hgt) !important;
  top: 0px;
  border-radius: var(--rounding);
  margin-left: var(--buttonbox-left-wdt);
  
  width: calc(
    var(--sdbr-wdt) 
    - var(--buttonbox-left-wdt)
  ) !important;
  
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  
  &[collapsed="true"] {display: none}
}

/* padding for screenshot control buttons */
#main-window:not([titlepreface*="-"]):has(#screenshotsPagePanel:not([hidden])){
  #sidebar-box{
    padding-bottom: calc(
      var(--screenshot-tool-hgt)
      - var(--margin)
      + var(--bottom-margin)
    ) !important;
  }
}

/* 

--- SIDEBAR HIDDEN ----------------------------------------------------------------------------------------------------------------------------------

*/

/* activate style when sidebar hidden or clean mode enabled (and not in customizing page) */
#main-window:is([titlepreface*="-"], [titlepreface*="?"]):not([customizing]){
  
  /* styles for both sidebar and bookmaarks toolbar */
  #sidebar-box,
  #PersonalToolbar
  {
    z-index: 2 !important;
    width: var(--sdbr-wdt) !important;
    
    left: calc(
      var(--left-margin) 
      + var(--panel-hide-ldg) 
      - var(--sdbr-wdt)
    ) !important;

    border-radius: var(--big-rounding) !important;
    
    /* hover target (invisible box between window edge and panel) */
    &::before{
      content: "";
      position: absolute;
      z-index: -999;
      background-color: var(--debug-col);
      
      width: 150%;
      height: 100%;
      right: 0px;
      top: 0px;
    }
    
    /* make all panel content invisible (it will visible when hover) */
    & * {
      transition: var(--transition) !important;
      opacity: 0;
    }
  }
  
  /* styles for sidebar */
  #sidebar-box{    
    height: calc(
      100vh
      - var(--bookmarks-hgt)
      - var(--little-gap)
      - var(--top-margin)
      - var(--bottom-margin)
      - var(--margin) * 2
    ) !important;
    
    top: calc(
      var(--top-margin)
      + var(--margin)
      + var(--bookmarks-hgt) + var(--little-gap)
    );
    
    /* indication bar (line on window edge) */
    &::after{
      content: "";
      position: absolute;
      transition: var(--transition);
      
      left: calc(
        100% 
        - var(--panel-hide-ldg) 
        - var(--margin) 
        + var(--hide-bar-padding)
      );
      
      width: calc(var(--margin) - var(--hide-bar-padding) * 2 );
      height: calc(
        100% 
        - var(--hide-bar-wdt-pad) 
        + var(--bookmarks-hgt)
        + var(--little-gap)
      );
      
      bottom: calc(var(--hide-bar-wdt-pad) / 2);
      border-radius: var(--rounding);
      background-color: var(--bt-col);
      opacity: var(--hide-bar-opct);
    }
  }
  
  #sidebar {border-radius: var(--big-rounding) !important;}
  
  /* styles for bookmarks */
  #PersonalToolbar{
    top: calc(var(--top-margin) + var(--margin));
    margin-left: 0px !important;
    overflow: visible !important;

    padding-inline: 2px !important;
    
    /* hover target between sidebar and bookmarks toolbar */
    &::after{
      content: "";
      z-index: 1;
      position: absolute;
      
      background-color: var(--debug-col);
      opacity: 1 !important;
      
      height: calc(var(--little-gap) + 4px);
      bottom: calc(-2px - var(--little-gap));
      
      width: 150%;
      
      right: 0px;
    }
  }

  /* show sidebar on hover or focus (if not in clean mode) */
  &:not([titlepreface*="?"]):has(
    #sidebar-box:hover,
    #sidebar-box:focus-within,
    #PersonalToolbar:hover,
    #PersonalToolbar *:not(#firefox-view-button)[open]
  ) {
    #sidebar-box,
    #PersonalToolbar
    {
      opacity: 1 !important;
      left: calc(var(--left-margin) + var(--margin)) !important;
      
      background-color: var(--bg-col) !important;
      
      border: var(--outline) !important;
      outline: var(--shadow) !important;
            
      &::after{opacity: 0}
      
      & * {opacity: 1}
    }
  }
}

/*

--- CUSTOMIZING PAGE --------------------------------------------------------------------------------------------------------------------------------

*/

#main-window[customizing]{
  #PersonalToolbar{
    top: 65px !important;
    left: 20px !important;
    margin-left: 0px !important;
    
    border-radius: var(--big-rounding) !important;
    
    background-color: var(--bg-col) !important;
  }
  
  #bookmarks-toolbar-placeholder .toolbarbutton-text {display: none !important;}
}


/*

--- SIDEBERY ----------------------------------------------------------------------------------------------------------------------------------------

*/

/* hide sidebar button on toolbar and sidebar header when Sidebery opened */
#main-window:not([customizing]):has(
  #sidebar-box:not([hidden])[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) { 
  #sidebar-header, #sidebar-button {display: none} 
}

/* color the sidebar button red */
#sidebar-button .toolbarbutton-icon {background-color: red !important;}

/* notification when Sidebery is not opened */
#main-window:has( 
  #sidebar-box[hidden="true"],
  #sidebar-box:not([sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"])
 ) {
  &::before{
    content: "Open Sidebery!";
    position: fixed;
    z-index: 9999;
    
    font-weight: bold;
    
    top: calc(var(--margin) + var(--toolbar-item-hgt));
    left: calc(var(--margin) * 2);
    
    background-color: #252525;
    outline: 3px solid red;
    
    border-radius: var(--big-rounding);
    padding: 10px;
  }
}
