@media not (-moz-bool-pref: "shyfox.position.tabbar") {
  @media (-moz-bool-pref: "shyfox.position.menubutton") {#PanelUI-menu-button { display: none !important; }}
  @media (-moz-bool-pref: "shyfox.position.extbutton") {#unified-extensions-button{ display: none !important; }}
}

@media (-moz-bool-pref: "shyfox.position.tabbar") { /* start of wrapper */

/* 

##############################################################################################################################

 V A R I A B L E S

*/

:root:not([titlepreface*="‌"]){
  --right-margin: var(--tbbr-wdt);
}

:root{
  --tbbr-col: var(--bg-txt);

  --tbbr-menubutton-hgt: 0px;
  --tbbr-extbutton-hgt: 0px;
}
  
/* 

##############################################################################################################################

 B U T T O N S

*/

@media (-moz-bool-pref: "shyfox.position.menubutton") {
  :root{ --tbbr-menubutton-hgt: 40px; }
  
  #PanelUI-menu-button{
    fill: var(--tbbr-col) !important;
    transition: var(--bar-transition), var(--opacity-transition), margin 0s !important;

    position: fixed !important;
    z-index: -999 !important;
    top: 0px;
    right: 0px;

    margin: 4px !important;
    padding-inline: 0 !important;
  }
}

@media (-moz-bool-pref: "shyfox.position.extbutton") {
  :root{ --tbbr-extbutton-hgt: 40px; }
  
  #unified-extensions-button{
    fill: var(--tbbr-col) !important;
    transition: var(--bar-transition), var(--opacity-transition), margin 0s !important;

    position: fixed !important;
    z-index: -999 !important;
    top: var(--tbbr-menubutton-hgt);
    right: 0px;

    margin: 4px !important;
    padding-inline: 0px !important;
  }
}

/* 

##############################################################################################################################

 T O O L B A R

*/

#TabsToolbar{
  #tabbrowser-tabs{ display: none !important; }
  
  right: 0;
  top: 0;
  bottom: 0;

  padding-top: calc(var(--tbbr-menubutton-hgt) + var(--tbbr-extbutton-hgt)) !important;
  width: var(--tbbr-wdt) !important;

  toolbarbutton{ height: var(--tbbr-wdt) !important; }

  toolbarbutton > :is(.toolbarbutton-icon, .toolbarbutton-badge-stack){
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    margin: 0px !important;
  }
}

#TabsToolbar-customization-target{
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
}

#alltabs-button{ display: none !important; }

#TabsToolbar-customization-target > * {
  fill: var(--tbbr-col) !important;
  transition: var(--opacity-transition) !important;
}

:root[titlepreface*="‌"]{
  --tbbr-right: calc( var(--margin-on-right) - var(--tbbr-wdt) );
  --tbbr-hover-right: calc( var(--margin) + var(--margin-on-right) );  
  --tbbr-hover-txt: var(--tb-txt);

  #TabsToolbar{
    --tbbr-hover-col: var(--tb-col);
    --tbbr-hover-brs: var(--big-rounding);
    --tbbr-hover-brd: var(--border);
    
    top: calc( var(--top-margin) + var(--margin) );
    bottom: auto;
    right: var(--tbbr-right);
  }
  
  #TabsToolbar::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      left: calc( 0px - var(--panel-hidden-hitbox) );
      top: 0px;
      height: 100%; width: 500%;
      background: var(--debug-col);
    }
  
  #TabsToolbar-customization-target > * { opacity: 0; }
  #TabsToolbar-customization-target > *[disabled] { opacity: 0 !important; }
  
  
  @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
    top: calc( var(--top-margin) + var(--margin) + var(--tbbr-menubutton-hgt) );
    right: var(--tbbr-right);
    opacity: 0;
  } }
  
  @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
    top: calc( var(--top-margin) + var(--margin) );
    right: var(--tbbr-right);
    opacity: 0;
  } }
  
}

  
/* 

##############################################################################################################################

 H O V E R   B A R

*/

:root{ --right-hvbr-opct: 0; }
:root[titlepreface*="‌"]{ --right-hvbr-opct: var(--hvbr-opct); }

#TabsToolbar::after{
  content: ""; position: absolute;
  pointer-events: none;
  transition: var(--hoverbar-transition) !important;
  border-radius: var(--hvbr-brd-rad);
  background: var(--hvbr-color);
  opacity: var(--right-hvbr-opct);
  left: var(--hvbr-pd-block);
  top: var(--hvbr-pd-inline);
  height: calc( 100% - var(--hvbr-pd-inline) * 2 );
  width: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
}

/* 

##############################################################################################################################

 M A G I C   Z O N E

*/
  
:root[titlepreface*="‌"]{
  &:has(
    #TabsToolbar:hover,
    #TabsToolbar *[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
    @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;  
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
  }
  
  @media (-moz-bool-pref: "shyfox.position.extbutton") { &:has(
    #unified-extensions-button:hover,
    #unified-extensions-button[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    }
    @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;  
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.menubutton") { &:has(
    #PanelUI-menu-button:hover,
    #PanelUI-menu-button[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
    #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;  
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    }  
  } }
  
}

} /* end of wrapper */
