/* ShyFox Sidebar */

/* variables */
:root{
  --little-gap: calc(var(--margin) / 1.5);
  --bookmarks-hgt: var(--toolbar-item-hgt);
}

/* set left margin to sidebar width */
#main-window:not([titlepreface*="-"])[chromehidden=""]:not([inDOMFullscreen="true"]){
  --left-margin: var(--sdbr-wdt) !important;
}

/* hide splitter */
#sidebar-splitter {display: none}

/* initial */

/* sidebar + bookmarks */
#sidebar-box,
#PersonalToolbar
{
  position: fixed;
  overflow: visible;
  z-index: 2 !important;
  
  min-width: 0px !important;
  max-width: 100vw !important;
  
  left: 0px;

  transition: var(--transition) !important;
  background-color: var(--bg-col) !important;
  
  & > * {transition: var(--transition); !important}
}

/* sidebar */
#sidebar-box{
  
  top: calc(
    var(--margin) / 2 
    + var(--bookmarks-hgt)
  );
  
  bottom: var(--margin);
  width: var(--sdbr-wdt) !important;
}

/* bookmarks */
#PersonalToolbar{
  visibility: visible !important;
  height: var(--toolbar-item-hgt) !important;
  top: 0px;
  
  margin-left: var(--buttonbox-left-wdt);
  
  width: calc(
    var(--sdbr-wdt) 
    - var(--buttonbox-left-wdt)
  ) !important;
  
  & > .toolbarbutton-1 .toolbarbutton-icon{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  
  &[collapsed="true"] {display: none}
}

/* remove space reserved for bookmarks toolbar if it hidden */
#main-window:has(
  #PersonalToolbar[collapsed="true"]
) {
  --bookmarks-hgt: 0px;
  --little-gap: 0px;
}

/* hidden mode */
#main-window[titlepreface*="-"]:not([customizing]){
  --sdbr-real-wdt: 0px;
  
  /* sidebar + bookmaarks */
  #sidebar-box,
  #PersonalToolbar
  {
    z-index: 3 !important;
    
    width: var(--sdbr-wdt) !important;
    
    padding-top: calc(var(--margin) / 2);
    padding-bottom: calc(var(--margin) / 2);
    
    left: calc(
      var(--left-margin) 
      + var(--panel-hide-ldg) 
      - var(--sdbr-wdt)
    ) !important;
    
    background-color: transparent !important;
    
    border-radius: var(--rounding);
    
    /* hover target */
    &::before{
      content: "";
      position: absolute;
      z-index: -999;
      background-color: var(--debug-col);
      
      width: 150%;
      height: 100%;
      right: 0px;
      top: 0px;
    }
    
    /* hide content */
    & * {
      transition: var(--transition) !important;
      opacity: 0;
    }
  }
  
  /* sidebar */
  #sidebar-box{
    height: calc(
      100vh
      - var(--bookmarks-hgt)
      - var(--little-gap)
      - var(--top-margin)
      - var(--bottom-margin)
      - var(--margin) * 2
    ) !important;
    
    top: calc(
      var(--top-margin)
      + var(--margin)
      + var(--bookmarks-hgt) + var(--little-gap)
    );
    
    /* indication bar */
    &::after{
      content: "";
      position: absolute;
      transition: var(--transition);
      
      right: var(--hide-bar-padding);
      width: calc(var(--margin) - var(--hide-bar-padding) * 2 );
      height: calc(
        100% 
        - var(--hide-bar-wdt-pad) 
        + var(--bookmarks-hgt)
        + var(--little-gap)
      );
      
      bottom: calc(var(--hide-bar-wdt-pad) / 2);
      
      border-radius: var(--rounding);
      background-color: var(--bt-col);
      opacity: var(--hide-bar-opct);
    }
  }
  
  /* bookmarks */
  #PersonalToolbar{
    top: calc(var(--top-margin) + var(--margin));
    margin-left: 0px !important;
    overflow: visible !important;

    padding-inline: 0px !important;
    
    /* fill gap between sidebar and bookmarks with transparent thing */
    &::after{
      content: "";
      z-index: 1;
      position: absolute;
      
      background-color: var(--debug-col);
      opacity: 1 !important;
      
      height: calc(var(--little-gap) + 4px);
      bottom: calc(-2px - var(--little-gap));
      
      width: 150%;
      
      right: 0px;
    }
  }

  /* show on hover or focus */
  &:has(
    #sidebar-box:hover,
    #sidebar-box:focus-within,
    #PersonalToolbar:hover,
    #PersonalToolbar *[open]
  ) {
    #sidebar-box,
    #PersonalToolbar
    {
      opacity: 1 !important;
      left: calc(var(--left-margin) + var(--margin)) !important;
      
      background-color: var(--bg-col) !important;
      
      border: var(--outline) !important;
      outline: var(--shadow) !important;
            
      &::after{opacity: 0}
      
      & * {opacity: 1}
    }
  }
}

/* customization page */
#main-window[customizing]{
  #PersonalToolbar{
    top: 65px !important;
    left: 20px !important;
    margin-left: 0px !important;
    
    border-radius: var(--rounding) !important;
  }
  #bookmarks-toolbar-placeholder .toolbarbutton-text {display: none !important;}
}

/* hide sidebar button and header when Sidebery opened */
#main-window:has(
  #sidebar-box:not([hidden])[sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]
) {
  #sidebar-header,
  #sidebar-button
  {display: none}
}

/* red colored sidebar button (when it visible)*/
#sidebar-button .toolbarbutton-icon{background-color: red !important;}

/* text when Sidebery not opened */
#main-window:has( 
  #sidebar-box[hidden="true"],
  #sidebar-box:not([sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"])
 ) {
  #browser::before{
    content: "Open Sidebery!";
    position: fixed;
    z-index: 10;
  }
}

