:root{
  --left-nvbr-hgt: 0px;
  --left-bmbr-hgt: 0px;
}

:root:not([titlepreface*="؜"]):not(:has(#sidebar-main[hidden])){
  --left-margin: var(--sdbr-tb-wdt);
  &:has(
    #sidebar-box:not([hidden]),
    #sidebar-main > *[expanded]
  ) { --left-margin: var(--sdbr-wdt); }
}

/* 

##############################################################################################################################

 S I D E B A R

*/

.wrapper:has(.tools-and-extensions) {
  background: transparent !important;
  color: var(--bg-txt) !important;
  border: 0px solid transparent !important;
  
  padding: 0px !important;
  padding-bottom: var(--margin) !important;
  
  @media ( not (-moz-bool-pref: "shyfox.position.navbar")) and ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) 
  { padding-top: var(--margin) !important; }
  
  &:has(.expanded-button) { padding-inline: var(--toolbar-start-end-padding) !important; }
  
  min-width: 0px !important;
  .tools-and-extensions, .bottom-actions { padding-inline: 0px !important }
  
  :is(.tools-and-extensions, .bottom-actions) moz-button { margin-block-start: 4px !important; }
}



#vertical-tabs {
  width: 100% !important;
  
  .tabbrowser-tab{
    max-width: none !important;
    padding: 0 !important;
    
    .tab-background{ border-radius: var(--tab-border-radius) !important; }
    
    &:not([pinned], [fadein]) { visibility: collapse !important; }
  }
  
  .tab-background:is([selected], [multiselected])
  { background-color: color-mix(in srgb, currentColor 20%, transparent) !important; !important; }
  
  .tabbrowser-tab[pinned] .tab-background:not( :is([selected], [multiselected]) )
  { background-color: color-mix(in srgb, currentColor 10%, transparent) !important; }
  
  #tabbrowser-tabs:not([expanded]){
    #newtab-button-container, #tabs-newtab-button, .tabbrowser-tab
    { width: calc( var(--sdbr-tb-wdt) - 8px ) !important; }
    
    #newtab-button-container{ padding-inline: 4px !important; }
    #tabs-newtab-button, .tabbrowser-tab{ margin-inline: 4px !important; }
  }
}


  
#tabbrowser-tabs[expanded] #vertical-pinned-tabs-container{
  padding-inline: 0px !important;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: row;
  
  --grid-gap: 5px;
  width: calc( 100% + var(--grid-gap) ) !important;
  grid-gap: var(--grid-gap) !important;
  
  .tabbrowser-tab[pinned]{
    --wm: 3; --hm: 1; min-width: 0px !important;
    width: calc( 100% / var(--wm) - var(--grid-gap) ) !important;
    height: calc( var(--sdbr-wdt) / 4.6 / var(--hm) ) !important;
  }
  
  .tabbrowser-tab[pinned]:nth-child(1):last-child
    {--wm: 1; --hm: 1.4;}
  
  &:has(.tabbrowser-tab:nth-child(3n + 2):last-child)
    .tabbrowser-tab:nth-last-child(-n + 2)
      {--wm: 2; --hm: 1.2;}
  
  &:has(.tabbrowser-tab:nth-child(3n + 4):last-child)
    .tabbrowser-tab:nth-last-child(-n + 4)
      {--wm: 4; --hm: 1.3;}
  
  .tabbrowser-tab[pinned] .tab-background{
    margin: 0px !important;
    border-radius: var(--big-rounding) !important;
  }
  
  .tab-icon-image, .tab-icon-stack{
    height: var(--pinned-tab-icon-size) !important;
    width: var(--pinned-tab-icon-size) !important;
  }
}



#vertical-tabs{
  #tabbrowser-arrowscrollbox[overflowing="true"] {
    border-top: 1px solid color-mix(in srgb, currentColor 25%, transparent);
    padding-block: 5px !important;
  }
  
  #tabs-newtab-button{
    display: flex !important;
    appearance: none !important;

    border-radius: var(--button-border-radius) !important;
    &:hover { background: var(--tab-hover-background-color) !important; }

    height: 36px !important;
    width: 100% !important;

    .toolbarbutton-icon {
      width: 100% !important;
      height: 16px !important;
      padding: 0 calc( 50% - 8px );
    }
  }

  #vertical-tabs-newtab-button{
    appearance: none !important;
    border-radius: var(--rounding) !important;
  }
  
  #newtab-button-container{
    display: none !important; /* */
    margin-inline-end: 0px !important;
  }
}



#sidebar-splitter{ display: none !important; }

#sidebar-box, #sidebar-main{
  position: fixed;
  min-width: 0px !important;
}

#sidebar-main{
  --sidebar-text-color: var(--bg-txt) !important;
  
  top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) );
  bottom: 0px;
  
  z-index: 2 !important;
}

#sidebar-box{
  top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) + var(--margin) );
  
  @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar") 
  { top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) ); }
  
  bottom: var(--margin);
  
  z-index: 1 !important;
  width: calc( var(--sdbr-wdt) - var(--sdbr-tb-wdt) - var(--margin) / 2 ) !important;
  margin-left: var(--sdbr-tb-wdt);
  left: 0px;
  
  border-radius: var(--big-rounding) !important;
  transition: var(--bar-transition), var(--opacity-transition), width var(--long-trans-dur) ease !important;
}

#sidebar-box[hidden]{
  display: flex !important;
  opacity: 0 !important;
  pointer-events: none !important;
  left: calc( 0px - var(--sdbr-wdt) + var(--sdbr-tb-wdt) ) !important;
}

#sidebar{
  border: var(--border) !important;
  border-radius: var(--big-rounding) !important;
}


:root:has(#sidebar-main > *[hidden]) #sidebar-box:not([hidden]) {
  width: calc( var(--sdbr-wdt) - var(--margin) ) !important;
  margin-left: calc( var(--margin) / 2 ) !important;
}

#sidebar-box{  
  #sidebar-header{
    border: none !important;
    padding: 4px 3px !important;
  }
  #sidebar-close{
    margin-inline: 4px !important;
    padding: 7px !important;
    width: 30px !important;
    border-radius: var(--rounding) !important;
  }
}

#sidebar-main > *:not([expanded]){
  width: var(--sdbr-tb-wdt) !important;
}

#sidebar-main > *[expanded]{
  width: var(--sdbr-wdt) !important;
}

:root:has(#sidebar-main > *[expanded]){
  #sidebar-box{ filter: blur(5px) grayscale(80%) !important; }
  #sidebar { border: 0px solid transparent !important; }
}

:root:has(#sidebar-box[hidden]) #sidebar-main:not([hidden]){ width: var(--sdbr-wdt) !important; }

/* 

##############################################################################################################################

 N A V B A R

*/

@media (-moz-bool-pref: "shyfox.position.navbar") {
  :root{
    --left-nvbr-hgt: calc(var(--nvbr-hgt) * 2);
  }
  
  #nav-bar{

    left: 0;
    top: 0;
    width: var(--sdbr-wdt) !important;
    
    padding-bottom: var(--nvbr-hgt) !important;
    height: calc(var(--nvbr-hgt) * 2) !important;
  }
  
  #urlbar-container{
    width: calc(var(--sdbr-wdt) - var(--toolbar-start-end-padding) * 2) !important;
    height: var(--nvbr-hgt) !important;
    
    margin: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
    
    position: absolute !important;
    bottom: 0;
    
    .urlbar-page-action{ visibility: collapse !important; }
    #pageActionButton[multiple-children]{ visibility: visible !important; }
    
    #identity-icon-box #identity-icon-label { display: none !important; }
  }
    
  #urlbar[breakout-extend]{
    #urlbar-background{
      border-radius: 0 !important;
      border-left: none !important;
      border-right: none !important;
    }
    
    width: var(--sdbr-wdt) !important;
    left: calc( 0px - var(--toolbar-start-end-padding)) !important;
    right: 0 !important;
  }
  
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

@media (-moz-bool-pref: "shyfox.position.bookmarkbar") {
  :root{
    --bmbr-hgt: 40px;
    --left-bmbr-hgt: var(--bmbr-hgt);
  }
  
  #PersonalToolbar{
    left: 0;
    top: var(--left-nvbr-hgt);

    width: var(--sdbr-wdt) !important;
  }
}
