/*== ShyFox Contents ================================================================================================================================

Styles for some in-browser pages like settings or new tab


--- SETTINGS ----------------------------------------------------------------------------------------------------------------------------------------

Global variables for all content

*/

:root{
  /* accent color */
  --shy-color: #3584E4;
  
  /* semi-transparent colors (used in new tab) */
  --tr-col:       rgba(66, 65, 77, 0.4);
  --tr-hov-col:   rgba(86, 85, 97, 0.4);
  --tr-dark-col:  rgba(36, 35, 47, 0.4);
  --tr-light-col: rgba(140, 140, 150, 0.4);
  
  /* roundings */
  --rounding: 11.5px;
  --big-rounding: 15px;
  --giant-rounding: 30px;
  
  /* intensity of blur (new tab) */
  --blur-radius: 10px;
}

/*

--- NEW TAB -----------------------------------------------------------------------------------------------------------------------------------------

Styles for new tab

*/


@-moz-document url("about:home"), url("about:newtab") {
  
  /* accent color */
  :root{
    --newtab-primary-action-background: var(--shy-color) !important;
    --newtab-primary-action-background-pocket: var(--shy-color) !important;
  }
  
  .toggle-button[aria-pressed="true"] {
    background: var(--shy-color) !important;
    border-color: transparent;
  }
  
  .home-section .section .sponsored-checkbox:checked {
    background-color: var(--shy-color) !important;
  }
  
  .search-wrapper.fake-focus:not(.search.disabled) .search-handoff-button {
    border: 1px solid var(--shy-color) !important;
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--shy-color) 20%, transparent) !important;
  }
  
  /* rounded corners */
  .top-site-button,
  .context-menu button,
  .close-button,
  .home-section .section .selector
  {border-radius: var(--rounding) !important;}
  
  .top-site-outer, 
  .top-site-inner,
  .context-menu,
  .icon-settings
  {border-radius: var(--big-rounding) !important;}
  
  /* pinned links */
  .top-site-button {overflow: clip;}
  
  .tile, .top-site-icon{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  .top-site-button, .customize-menu{
    background-color: var(--tr-col) !important;
    backdrop-filter: blur(var(--blur-radius));
  }
    
  .title {
    background-color: var(--newtab-background-color-secondary);
    & > span {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  
  .top-site-outer:is(.active, :focus, :hover){
    background: var(--tr-light-col) !important;
  }
  
  .top-site-outer, .top-site-inner {
    & > a {padding: 0 !important;}
    padding: 5px;
  }
  
  .top-site-outer:not(:hover) .icon-pin-small{display: none !important;}
  
  /* search box */
  .search-handoff-button {
    border-radius: 100px !important;
    background-color: var(--tr-dark-col) !important;
    backdrop-filter: blur(var(--blur-radius));
  }
  
  @media (height > 700px) {
    body:not(.inline-onboarding) .fixed-search .search-wrapper {
      background-color: var(--tr-dark-col) !important;
      backdrop-filter: blur(var(--blur-radius));
    }
    .logo-and-wordmark {
      display: flex !important;
    }
  }
  
  /* wallpaper */
  body{
    background-image: url("./wallpaper.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
  }
  
  /* central box */
  main{
    margin-top: 15% !important;
    height: 50%;
    background-color: var(--tr-light-col);
    border-radius: var(--giant-rounding);
  }
  
  /* settings */
  .icon-settings:hover {background-color: var(--tr-hov-col) !important;}
    
  .home-section .section .selector{
    background-color: var(--tr-col) !important;
    &:hover{background-color: var(--tr-hov-col) !important;}
  }
  
  /* autograph */
  .activity-stream::before,
  .activity-stream::after
  {
    font-family: monospace;
    color: white;
    opacity: 0.042;
    position: fixed;
    z-index: 99999;
    bottom: 10px;
  }
  
  .activity-stream::before{
    content: "ShyFox by N2ezr";
    left: 10px;
  }
  
  .activity-stream::after{
    content: "42 🤙";
    right: 10px;
  }
  
}


/*

--- ABOUT: PAGES ------------------------------------------------------------------------------------------------------------------------------------

Styles for settings, Firefox View, etc.

*/


@-moz-document url-prefix("about:"), url-prefix("chrome:"){

  /* accent color */
  :root, panel, dialog, window{
    --in-content-primary-button-background-active: var(--shy-color) !important;
    --in-content-primary-button-background-hover:  var(--shy-color) !important;
    --lwt-toolbarbutton-icon-fill-attention:       var(--shy-color) !important;
    --in-content-primary-button-background:        var(--shy-color) !important;
    --toolbarbutton-icon-fill-attention:           var(--shy-color) !important;
    --fxview-primary-action-background:            var(--shy-color) !important;
    --toolbar-field-focus-border-color:            var(--shy-color) !important;
    --button-primary-active-bgcolor:               var(--shy-color) !important;
    --button-primary-hover-bgcolor:                var(--shy-color) !important;
    --uc-checkbox-checked-bgcolor:                 var(--shy-color) !important;
    --color-accent-primary-active:                 var(--shy-color) !important;
    --color-accent-primary-hover:                  var(--shy-color) !important;
    --checkbox-checked-bgcolor:                    var(--shy-color) !important;
    --in-content-accent-color:                     var(--shy-color) !important;
    --button-primary-bgcolor:                      var(--shy-color) !important;
    --in-content-link-color:                       var(--shy-color) !important;
    --color-accent-primary:                        var(--shy-color) !important;
    --focus-outline-color:                         var(--shy-color) !important;
    --input-border-color:                          var(--shy-color) !important;
  }
  
  :is(.icon, img)[src="chrome://global/skin/icons/info-filled.svg"] {fill: var(--shy-color) !important;}
  moz-message-bar {background-color: var(--in-content-button-background) !important;}
  
  .cpu{
    background: linear-gradient(
      to left,
      var(--shy-color) 
      calc(var(--bar-width) * 1%),
      transparent 
      calc(var(--bar-width) * 1%)
    ) !important;
  }
  
  button[role="tab"][selected]::before {display: none !important;}
  
  /* big rounded corners */
  .menupopup-arrowscrollbox,     moz-message-bar,
  .addon-detail-contribute,
  .web-appearance-choice,        panel-list,
  .sidebar-footer-link,          body[dir],
  .info-box-container,           menupopup,
  .sidebar-item--tall,           section,
  .qr-code-box,                  details,
  .action-box,                   select,
  .dialogBox,                    table,
  .info-box,                     tree,
  .category,
  .toolbar,
  .modal,
  .card,

  #ping-picker,
  #translations-manage-install-list
  
  {border-radius: var(--big-rounding) !important;}
  
  /* small rounded corners */
  button:not(
    :is(
      [class*="devtools"],
      [class*="search"],
      [class*="tab"]
    )
  ),
  
  input:not([type="checkbox"]),
  
  .search-container,
  search-textbox,
  menulist,
  span,
  a, 
  
  #activeLanguages
  
  {border-radius: var(--rounding) !important;}
  
  /* only top or bottom corners */
  .card-heading-image{
    border-top-left-radius: var(--big-rounding) !important;
    border-top-right-radius: var(--big-rounding) !important;
  }
  
  listheader{
    border-top-left-radius: var(--rounding) !important;
    border-top-right-radius: var(--rounding) !important;
  }
  
  richlistbox{
    border-bottom-left-radius: var(--rounding) !important;
    border-bottom-right-radius: var(--rounding) !important;
  }
}


/* extensions popups rounding */
@-moz-document url-prefix("moz-extension:"){
  body {border-radius: var(--big-rounding) !important;}
}

/* screenshots */
/* variables aren't used because they don't work here for some reason */

#screenshots-component{
  button {border-radius: 11.5px !important;}
  #buttons-container {border-radius: 15px !important;}

  .screenshots-button {
    --in-content-primary-button-background: #3584E4 !important;
    --in-content-primary-button-background-hover: color-mix(in oklab, var(--in-content-primary-button-background), white 10%);
    --in-content-primary-button-background-active: color-mix(in oklab, var(--in-content-primary-button-background), white 20%);
    --in-content-focus-outline-color: #3584E4;
  }
}
