/*== ShyFox Contents ================================================================================================================================

Styles for some other things stylable in userContent.css

/* extensions popups rounding */
@-moz-document url-prefix("moz-extension:"){
  body {border-radius: var(--big-rounding) !important;}
}

/* screenshots */
/* variables aren't used because they don't work here for some reason */

#screenshots-component{
  button {border-radius: 11.5px !important;}
  #buttons-container {border-radius: 15px !important;}

  .screenshots-button {
    --in-content-primary-button-background: #3584E4 !important;
    --in-content-primary-button-background-hover: color-mix(in oklab, var(--in-content-primary-button-background), white 10%);
    --in-content-primary-button-background-active: color-mix(in oklab, var(--in-content-primary-button-background), white 20%);
    --in-content-focus-outline-color: #3584E4;
  }
}
