@-moz-document url("about:config"){

/* 

##############################################################################################################################

 B A S E

*/

:root{
  --sm-tr-txt: color-mix( in srgb, var(--in-content-page-color), transparent 50% );
}
  
/* Make it possible to change the order of elements */
#prefs{
  display: grid !important;
  
  & > * {
    width: 100% !important;
    th[scope="row"]{ width: calc( 50vw - 7.5vw - 20px ) !important; }
    .cell-value    { width: calc( 50vw - 7.5vw - 20px ) !important; }
  }
}

/* searchbox with */
#about-config-search{
  max-width: 500px !important;
}

/* 

##############################################################################################################################

 S T A R T   P A G E

*/

:root:not(:has( .table-shown )){
  --page-top-margin: calc( 50vh - 300px );
  
  body{ margin-top: var(--page-top-margin) !important; }
  
  /* search box */
  #toolbar{
    .checkbox-container{ display: none !important; }
    
    position: fixed !important;
    
    padding: 0px !important;
    
    --width: 400px;
    --height: 50px;
    top: calc( 350px + var(--page-top-margin) ) !important;
    left: calc( 50vw - var(--width) / 2 ) !important;
    
    height: var(--height) !important;
    max-width: var(--width) !important;
    min-width: var(--width) !important;
    width:     var(--width) !important;
  }
  
  #about-config-search{ border-radius: 999px !important; }
  
  #prefs{ visibility: collapse !important; }
  
  /* cool background bubbles */
  #toolbar::before{
    --radius: 300px;
        
    background: aqua;
    opacity: 0.3;
    filter: blur(100px);
    
    margin-top: -100px;
    margin-left: -200px;
  }
  
  #toolbar::after{
    --radius: 400px;
    
    background: turquoise;
    opacity: 0.2;
    filter: blur(100px);
    
    margin-top: -330px;
    margin-left: 280px;
  }
  
  #toolbar::before, #toolbar::after{
    content: "";
    position: absolute !important;
    z-index: -999;
    
    width: var(--radius);
    height: var(--radius);
    border-radius: var(--radius);
  }
  
  #toolbar{ z-index: -1 !important; background: transparent !important; }
  .config-background-wrapper{ z-index: 1 !important; }
  
  /* custom text */
  .config-help-text{ font-size: 0px !important; }
  
  .config-help-text::after{
    content: "Type in “shyfox” to open the ShyFox configuration page";
    font-size: 15px !important;
    text-shadow: 2px 2px 4px color-mix(in srgb, var(--in-content-page-background), transparent 50%);
  }
  
  /* hide show all button */
  #show-all:not(:hover){ opacity: 0.1 !important; }
}

/* 

##############################################################################################################################

 M A I N   C O N F I G   U I

*/

:root:has(
  /* The condition is rather fuzzy and checks the number of items shown on the screen. There is no way to know for sure that these styles apply to the right parameters */
  
  /*                     vvvv <<<< Number of all shyfox parameters + 1 */  
  #prefs .add:nth-child(  13  of :not(.hidden) )
  
) {

  /* shiny text for checkbox */
  @keyframes rainbow {
    0%   {background-position: 0% 50%;}
    100% {background-position: 500% 50%;}
  }

  span[data-l10n-id="about-config-show-only-modified"]{ font-size: 0px !important; }

  span[data-l10n-id="about-config-show-only-modified"]::after{
    content: "Enable ShyFox values descriptions";
    font-size: 15px !important;

    background: linear-gradient(to right, #3572EF, #3ABEF9, #A7E6FF, #3572EF);
    background-size: 500% 100%;
    animation: rainbow 13s linear infinite;
    background-clip: text;
    color: transparent;
  }
    
&:has( #about-config-show-only-modified:checked ) {
  
  #prefs{
    
    --max:  99999;
    --min: -99999;
    
    --odd-bg: var(--in-content-box-background-odd);
    
    /* bottom item order */
    .add{ order: calc( var(--max) + 1 ) !important; }
    
    /* pref container shared */
    .has-user-value{
      order: var(--order) !important;
      
      padding-bottom: 25px !important;
      
      --bg: transparent;
      &:not(:hover){ background: var(--bg) !important; }
    }
    
    .cell-reset{ display: none !important; }
    .has-user-value .cell-edit{
      &, button{ width: 15vw !important; }
    }

    
    /* pref color accent */
    .has-user-value th[scope="row"]{ color: var(--color) !important; }
    
    /* description shared */
    .has-user-value th[scope="row"]::after{
      content: var(--description);
      
      position: absolute;
      left: 50px;
      margin-top: 28px;
      font-style: italic !important;
      white-space: pre-wrap !important;
      
      color: var(--sm-tr-txt);
    }
    
    /* hint shared */
    .has-user-value .cell-value > span::after{
      content: var(--hint);
      color: var(--sm-tr-txt);
    }
    
    /* 1 - shyfox.appearance.leftbar.gapless */
    & > .has-user-value:nth-child( 1 of :not(.hidden) ){
      --color: lightblue;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 90 );
    }
    
    /* 2 - shyfox.appearance.topbar.gapless */
    & > .has-user-value:nth-child( 2 of :not(.hidden) ){
      --color: lightblue;
      --order: calc( var(--min) + 100 );
    }
    
    /* 3 - shyfox.debug.color */
    & > .has-user-value:nth-child( 3 of :not(.hidden) ){
      --order: calc( var(--min) + 120 );
    }
    
    /* 4 - shyfox.position.bookmarkbar */
    & > .has-user-value:nth-child( 4 of :not(.hidden) ){
      --color: pink;
      --order: calc( var(--min) + 20 );
      
      --description: "Defines position of bookmarks bar (if it enabled).";
      @media not (-moz-bool-pref: "shyfox.position.bookmarkbar") {--hint: ": bookmarks bar on top"}
      @media (-moz-bool-pref: "shyfox.position.bookmarkbar") {--hint: ": bookmarks bar on left, above sidebar"}
    }
    
    /* 5 - shyfox.position.extbutton */
    & > .has-user-value:nth-child( 5 of :not(.hidden) ){
      --color: bisque;
      --order: calc( var(--min) + 80 );
      
      --description: "Defines position of unified extensions button.";
      @media not (-moz-bool-pref: "shyfox.position.extbutton") {--hint: ": extensions button on navbar" }
      @media (-moz-bool-pref: "shyfox.position.extbutton") {
        --hint: ": extensions button on vertical toolbar";
        @media (-moz-bool-pref: "shyfox.position.tabbar") and (-moz-bool-pref: "shyfox.remove.tabbar"), not (-moz-bool-pref: "shyfox.position.tabbar")
        { --hint: ": extensions button removed" }
      }
    }
    
    /* 6 - shyfox.position.menubutton */
    & > .has-user-value:nth-child( 6 of :not(.hidden) ){
      --color: bisque;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 70 );
      
      --description: "Defines position of menu button.";
      @media not (-moz-bool-pref: "shyfox.position.menubutton") {--hint: ": menu button on navbar" }
      @media (-moz-bool-pref: "shyfox.position.menubutton") {
        --hint: ": menu button on vertical toolbar";
        @media (-moz-bool-pref: "shyfox.position.tabbar") and (-moz-bool-pref: "shyfox.remove.tabbar"), not (-moz-bool-pref: "shyfox.position.tabbar")
        { --hint: ": menu button removed" }
      }
    }
    
    /* 7 - shyfox.position.navbar */
    & > .has-user-value:nth-child( 7 of :not(.hidden) ){
      --color: pink;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 10 );
      
      --description: "Defines position of navigation bar.";
      @media not (-moz-bool-pref: "shyfox.position.navbar") {--hint: ": navbar on top"}
      @media (-moz-bool-pref: "shyfox.position.navbar") {--hint: ": navbar on left, above sidebar"}
    }
    
    /* 8 - shyfox.position.tabbar */
    & > .has-user-value:nth-child( 8 of :not(.hidden) ){
      --color: pink;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 30 );
      
      --description: "Defines position of tabs toolbar.";
      @media not (-moz-bool-pref: "shyfox.position.tabbar") {--hint: ": tabbar on top, horizontal tabs can be used"}
      @media (-moz-bool-pref: "shyfox.position.tabbar") {--hint: ": tabbar on right as a toolbar"}
    }
    
    /* 9 - shyfox.remove.tabbar */
    & > .has-user-value:nth-child( 9 of :not(.hidden) ){
      --color: tomato;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 110 );
      
      @media not (-moz-bool-pref: "shyfox.position.tabbar") { opacity: 0.5 !important;  }
    }
    
    /* 10 - shyfox.vert-position.bookmarkbar */
    & > .has-user-value:nth-child( 10 of :not(.hidden) ){
      --color: turquoise;
      --bg: var(--odd-bg);
      --order: calc( var(--min) + 50 );
    }
    
    /* 11 - shyfox.vert-position.navbar */
    & > .has-user-value:nth-child( 11 of :not(.hidden) ){
      --color: turquoise;
      --order: calc( var(--min) + 40 );
    }
    
    /* 12 - shyfox.vert-position.navbar */
    & > .has-user-value:nth-child( 12 of :not(.hidden) ){
      --color: turquoise;
      --order: calc( var(--min) + 60 );
    }
    
  }
} } 
}
