@-moz-document url("about:config"){

/* Make it possible to change the order of elements */
#prefs{
  display: grid !important;
  
  & > * {
    width: 100% !important;
    th[scope="row"]{ width: calc( 50vw - 68px ) !important; }
    .cell-value    { width: calc( 50vw - 40px ) !important; }
  }
}

/* searchbox with */
#about-config-search{
  max-width: 500px !important;
}

/* shiny text for checkbox */
@keyframes rainbow {
  0%   {background-position: 0% 50%;}
  100% {background-position: 500% 50%;}
}

span[data-l10n-id="about-config-show-only-modified"]::after{
  content: " and enable ShyFox values descriptions";
  
  background: linear-gradient(to right, #3572EF, #3ABEF9, #A7E6FF, #3572EF);
  background-size: 500% 100%;
  animation: rainbow 13s linear infinite;
  background-clip: text;
  color: transparent;
}

/* actual prefs customizing */
:root:has(
  /* The condition is rather fuzzy and checks the number of items shown on the screen. There is no way to know for sure that these styles apply to the right parameters */
  
  /*                     vvvv <<<< Number of all shyfox parameters + 1 */  
  #prefs .add:nth-child(  10  of :not(.hidden) )
  
):has( #about-config-show-only-modified:checked ) {
  
  #prefs{
    
    --max: 99999;
    
    .add{ order: calc( var(--max) + 1 ) !important; }
    
    /* 1 - shyfox.appearance.leftbar.gapless */
    & > .has-user-value:nth-child( 1 of :not(.hidden) ){
      color: lightblue !important;
    }
    
    /* 2 - shyfox.appearance.topbar.gapless */
    & > .has-user-value:nth-child( 2 of :not(.hidden) ){
      color: lightblue !important;
    }
    
    /* 3 - shyfox.debug.color */
    & > .has-user-value:nth-child( 3 of :not(.hidden) ){
      color: tomato !important;
    }
    
    /* 4 - shyfox.position.bookmarkbar */
    & > .has-user-value:nth-child( 4 of :not(.hidden) ){
      color: pink !important;
    }
    
    /* 5 - shyfox.position.extbutton */
    & > .has-user-value:nth-child( 5 of :not(.hidden) ){
      color: bisque !important;
    }
    
    /* 6 - shyfox.position.menubutton */
    & > .has-user-value:nth-child( 6 of :not(.hidden) ){
      color: bisque !important;
    }
    
    /* 7 - shyfox.position.navbar */
    & > .has-user-value:nth-child( 7 of :not(.hidden) ){
      color: pink !important;
    }
    
    /* 8 - shyfox.position.tabbar */
    & > .has-user-value:nth-child( 8 of :not(.hidden) ){
      color: pink !important;
    }
    
    /* 9 - shyfox.remove.tabbar */
    & > .has-user-value:nth-child( 9 of :not(.hidden) ){
      color: turquoise !important;
      @media not (-moz-bool-pref: "shyfox.position.tabbar") { opacity: 0.5 !important;  }
    }
  }
} }
