@-moz-document url("about:config"){:root:has(
  
/*                           vvvv <<<< Number of all shyfox parameters + 1 */  
  #prefs .deleted:nth-child(  10  of :not(.hidden) )
  
):has( label #about-config-show-only-modified:checked ) {
  
  #prefs{
    
    /* Make it possible to change the order of elements */
    display: grid !important;
    
    & > * {
      width: 100% !important;
      th[scope="row"]{ width: calc( 50vw - 10px ) !important; }
      .cell-value    { width: calc(50vw - 10px - 40px - 40px ) !important; }
    }
    
    
    
    & > *:nth-child( 1 of :not(.hidden) ){
      color: red !important;
      order: 99999999 !important;
    }
    
    & > *:nth-child( 3 of :not(.hidden) ){
      color: green !important;
      order: -1 !important;
    }
    
    
  }
} }
