:root[customizing]{
  
  --top-customizing-margin: calc(
      var(--top-tbbr-hgt)
    + var(--top-nvbr-hgt) + var(--nvbr-top-gap) 
    + var(--top-bmbr-hgt) + var(--bmbr-top-gap)
  ) !important;
  
  --bottom-customizing-margin: calc( 
      var(--bottom-tbbr-hgt) 
    + var(--bottom-nvbr-hgt) + var(--nvbr-bottom-gap)
    + var(--bottom-bmbr-hgt) + var(--bmbr-bottom-gap)
  ) !important;
  
  /* left margin */
  --left-customizing-margin: 0px;
  
  @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar") 
  { --left-customizing-margin: var(--sdbr-wdt); }
  
  &:has( #sidebar-main:not([hidden]) > *:not([hidden])[expanded] )
  { --left-customizing-margin: var(--sdbr-wdt); }
  
  @media not ( (-moz-bool-pref: "shyfox.position.navbar") or (-moz-bool-pref: "shyfox.position.bookmarkbar") ) {
    &:has( #sidebar-main:not([hidden]) > *:not([hidden]):not([expanded]) )
    { --left-customizing-margin: var(--sdbr-tb-wdt); }
  }
 
  /* main box */
  #customization-container{
    padding-top:    calc( var(--margin) * 2 + var(--top-customizing-margin)    ) !important;
    padding-bottom: calc( var(--margin) * 2 + var(--bottom-customizing-margin) ) !important;
    padding-right:  calc( var(--margin) * 2 + var(--right-margin)              ) !important;
    padding-left:   calc( var(--margin) * 2 + var(--left-customizing-margin)   ) !important;
    
    -moz-window-dragging: drag !important;
    & * {-moz-window-dragging: no-drag !important;}
  }
  
  /* browser box */
  #browser{
    visibility: visible !important;
    display: flex !important;
    position: absolute !important;
    
    & > :not(#sidebar-main) { visibility: collapse !important; }
    
    #sidebar-main{
      margin-left: var(--margin) !important;
      top: calc( 
          var(--margin) * 2
        + var(--left-bmbr-hgt) + var(--bmbr-left-gap) 
        + var(--left-nvbr-hgt)
      ) !important;
      bottom: calc( var(--margin) * 2 );
      
      border: var(--border) !important;
      border-radius: var(--big-rounding) !important;
      background: var(--bg-col) !important;
    }
  }
  
  /* fix */
  .customization-target:not(#widget-overflow-fixed-list) {
    min-width: unset !important;
  }
  
  /* items box */
  #customization-palette-container{
    border: var(--border) !important;
    border-radius: var(--big-rounding) !important;
    background: var(--bg-col) !important;
    
    --wdt: calc( 100% - 400px );
    max-width: var(--wdt) !important;
    min-width: 430px !important;
  }
  
  /* overflow menu */
  #customization-panel-container{
    --wdt: 400px;
    min-width: var(--wdt) !important;
    max-width: var(--wdt) !important;
    
    padding: 0px !important;
    padding-inline-start: var(--margin) !important;
  }
  
  #customization-panelWrapper{
    #customization-panelHeader{ 
      --icon-size: 25px;
      
      display: flex !important;
      align-items: center !important;
      
      margin-bottom: 4px !important;
      
      &::before{
        content: "";
        display: inline-block;
        margin-right: 5px;
        
        width:     var(--icon-size);
        height:    var(--icon-size);
        mask-size: var(--icon-size);

        mask-image: url("chrome://global/skin/icons/chevron.svg");
        background-color: var(--arrowpanel-color);
        mask-repeat: no-repeat;
      }
    }
    
    .panel-arrowbox{ display: none !important; }
    
    .panel-arrowcontent{
      height: 100% !important;
      
      border: var(--border) !important;
      border-radius: var(--big-rounding) !important;
      background: var(--bg-col) !important;
    }
  }
  
  /* footer button bar */
  #customization-footer{
    border: var(--border) !important;
    border-radius: var(--big-rounding) !important;
    background: var(--arrowpanel-background) !important;
    
    padding: 5px 10px !important;
    margin-top: 10px !important;
    
    -moz-window-dragging: drag !important;
    & * {-moz-window-dragging: no-drag !important;}
  }
  
  /* dashed outline */
  #nav-bar, #TabsToolbar, #PersonalToolbar{
    outline: 1px dashed !important;
    border-radius: var(--rounding) !important;
  }
  
  /* overflow opacity */
  #nav-bar-overflow-button{ fill-opacity: 1 !important; }
  
  /* destination color */
  .customization-target [id*="wrapper"]{
    border-color: color-mix( in srgb, var(--bg-txt) 15%, transparent ) !important;
  }
  
  toolbarspring{ border-radius: var(--rounding) !important; }
}