:root{
  --left-nvbr-hgt: 0px;
  --left-bmbr-hgt: 0px;
}

:root{
  --hidden-left: calc( 0px - var(--sdbr-wdt) + var(--margin-on-left) );
  --semi-hidden-left: calc( 0px - var(--sdbr-wdt) + var(--sdbr-tb-wdt) );
  
  --hover-left: calc( var(--left-margin) + var(--margin) );
  
  --bmbr-left-gap: 0px;
  --sdbr-left-gap: 0px;
  --left-gap: calc( var(--margin) / 2 );
}

:root[chromehidden=""]:not([titlepreface*="᠎"]), :root[customizing]{
  &:not( :has( #sidebar-main > *[hidden], #sidebar-main[hidden] )
  ) { --left-margin: var(--sdbr-tb-wdt); }
  
  &:has(
    #sidebar-box:not([hidden]),
    #sidebar-main:not([hidden]) > *[expanded]:not([hidden])
  ) { --left-margin: var(--sdbr-wdt); }
  
  &:has(#sidebar-box[hidden]):has( #sidebar-main > *[hidden], #sidebar-main[hidden] ){
    &:has( #PersonalToolbar[collapsed="true"] ) { @media (-moz-bool-pref: "shyfox.position.navbar") {
      --left-margin: var(--sdbr-wdt);
    } }
    &:has( #PersonalToolbar:not([collapsed="true"]) ) { @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar") {
      --left-margin: var(--sdbr-wdt);
    } }
  }
}

/* 

##############################################################################################################################

 S I D E B A R

*/

/* sidebar */
#sidebar-splitter{ display: none !important; }

#sidebar-box, #sidebar-main{
  position: fixed !important;
  min-width: 0px !important;
  padding: 0px !important;
}

#sidebar-main{
  --sidebar-text-color: var(--bg-txt) !important;
  
  top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) );
  bottom: 0px;
  left: 0px;
  
  transition: var(--bar-transition), var(--opacity-transition) !important;
  & > * { transition: var(--opacity-transition) !important; }
  z-index: 2 !important;
}

:root:has( #PersonalToolbar:not([collapsed="true"]) ) {
@media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar") {
  #sidebar-box { top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) ); }
} }

:root:has( #PersonalToolbar[collapsed="true"] ) {
@media (-moz-bool-pref: "shyfox.position.navbar") {
  #sidebar-box { top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) ); }
} }

:root[titlepreface*="᠎"] #sidebar-box{
  margin-left: calc( var(--sdbr-tb-wdt) + var(--margin) / 2 );
}

#sidebar-box{
  top: calc( var(--left-nvbr-hgt) + var(--left-bmbr-hgt) + var(--margin) );
  
  bottom: var(--margin);
  
  z-index: 1 !important;
  width: calc( var(--sdbr-wdt) - var(--sdbr-tb-wdt) - var(--margin) / 2 ) !important;
  margin-left: var(--sdbr-tb-wdt);
  left: 0px;
  
  background: var(--sidebar-background-color) !important;
  border-radius: var(--big-rounding) !important;
  transition: var(--bar-transition), var(--opacity-transition), width var(--long-trans-dur) ease !important;
}

#sidebar-box[hidden]{
  display: flex !important;
  opacity: 0 !important;
  pointer-events: none !important;
  left: calc( 0px - var(--sdbr-wdt) ) !important;
}

#sidebar{
  border: var(--border) !important;
  border-radius: var(--big-rounding) !important;
  box-shadow: none !important;
  transition: var(--opacity-transition) !important;
}


/* old sidebar */
:root:has( #sidebar-main > *[hidden], #sidebar-main[hidden] ) {
  #sidebar-box:not([hidden]) {
    width: calc( var(--sdbr-wdt) - var(--margin) ) !important;
    margin-left: calc( var(--margin) / 2 ) !important;
  }
  &[titlepreface*="᠎"] #sidebar-box{
    width: var(--sdbr-wdt) !important;
    margin-left: 0px !important;
  }
}

/* width */
#sidebar-main > *:not([expanded]){
  width: var(--sdbr-tb-wdt) !important;
}

#sidebar-main > *[expanded]{
  width: var(--sdbr-wdt) !important;
}

:root:not([customizing])[titlepreface*="᠎"] #sidebar-main > *[expanded]{
  width: calc( var(--sdbr-wdt) - var(--br-wdt) * 2 ) !important;
}

:root:not([titlepreface*="᠎"]):has( #sidebar-main > *[expanded]:not([hidden]) ){
  #sidebar-box{ filter: blur(5px) grayscale(80%) !important; }
  #sidebar { border: 0px solid transparent !important; }
}

:root:not([customizing])[titlepreface*="᠎"]{
  @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar") { --sdbr-left-gap: var(--left-gap); }
  
  #sidebar-box{ background: transparent !important; }
  
  #sidebar-box, #sidebar-main:not( :is( :has( > *[hidden]), [hidden] ) ){
    & > * { opacity: 0; }
    
    top: calc( var(--top-margin) + var(--left-nvbr-hgt) + var(--margin) + var(--bmbr-left-gap) + var(--left-bmbr-hgt) + var(--sdbr-left-gap) ) !important;
    bottom: calc( var(--bottom-margin) + var(--margin) ) !important;
    
    --sdbr-hover-col: var(--tb-col);
    --sdbr-hover-txt: var(--tb-txt);

    --sdbr-main-hover-brs: var(--big-rounding);
    --sdbr-main-hover-brw: var(--br-wdt);
    --sdbr-main-hover-brt: var(--br-style);
    --sdbr-main-hover-brc: var(--br-col);
    
    --sdbr-box-hover-brs: var(--big-rounding);
    --sdbr-box-hover-brw: var(--br-wdt);
    --sdbr-box-hover-brt: var(--br-style);
    --sdbr-box-hover-brc: var(--br-col);
    
    left: var(--hidden-left) !important;
  }
  
  #sidebar-main:not( :is( :has( > *[hidden]), [hidden] ) ){
    left: calc( var(--hidden-left) + var(--br-wdt) * 2 ) !important;
  }
  
  :is( #sidebar-box, #sidebar-main:not( :is( :has( > *[hidden]), [hidden] ) ) )::before{
    content: ""; position: absolute;
    -moz-window-dragging: drag;
    z-index: -999;
    right: calc( 0px - var(--panel-hidden-hitbox) );
    bottom: calc( 0px - var(--br-wdt) );
    width: 500%; height: 500%;
    background: var(--debug-col);
  }
  
  &:has(#sidebar-box[hidden]):has( #sidebar-main > *:not([hidden]):not([expanded]) ) 
  #sidebar-main{ left: calc( 0px - var(--sdbr-tb-wdt) + var(--margin-on-left) ) !important; }
}

/* 

##############################################################################################################################

 N A V B A R

*/

@media (-moz-bool-pref: "shyfox.position.navbar") {
  :root{
    --left-nvbr-hgt: calc(var(--nvbr-hgt) * 2);
  }
  
  #nav-bar{
    overflow: visible !important;

    left: 0;
    top: 0;
    width: var(--sdbr-wdt) !important;
    
    padding-bottom: var(--nvbr-hgt) !important;
    height: calc(var(--nvbr-hgt) * 2) !important;
  }
  
  #nav-bar toolbarspring{ max-width: unset !important; }
  
  #nav-bar-customization-target{ margin-left: calc( 0px - var(--br-wdt) ) }
  
  /* urlbar position */
  :not(#wrapper-urlbar-container) > #urlbar-container, #wrapper-urlbar-container{
    width: calc( var(--sdbr-wdt) - var(--toolbar-start-end-padding) * 2 ) !important;
    height: var(--nvbr-hgt) !important;
    
    margin: 0 !important;
    margin-left: var(--toolbar-start-end-padding) !important;
    
    position: absolute !important;
    bottom: 0;
  }
    
  /* urlbar buttons tweaks */
  :not(#wrapper-urlbar-container) > #urlbar-container{
    #urlbar:not(:hover):not([focused]):not(:has(*[open])) > :is(.urlbar-input-container, #urlbar-input-container){
    & > *:not(.urlbar-searchmode-and-input-box-container, .urlbar-input-box, #page-action-buttons, #identity-box:is(.chromeUI, .localResource) ),
    #page-action-buttons > *:not(#urlbar-zoom-button){
      visibility: collapse;
      opacity: 0;
      transition: opacity 0.3s linear, visibility 0.2s linear !important;
      transition-delay: 1.25s !important;
    } }
    
    :is(.urlbar-input-container, #urlbar-input-container) > :is(.urlbar-searchmode-and-input-box-container, .urlbar-input-box){
      order: -1 !important;
      padding-left: 5px !important;
    }
    
    #urlbar-zoom-button{
      order: 999 !important;
      margin-inline: 2px !important;
    }
    
    #identity-box.chromeUI{
      order: 99 !important;
      margin-left: 3px !important;
      margin-right: 0px !important;
    }
    
    #identity-box.localResource{
      order: -2 !important;
      margin-inline-end: -5px !important;
    }
    
    #identity-box:not( .chromeUI, .localResource ){ margin-right: 3px !important; }
    #identity-icon-box #identity-icon-label { display: none !important; }
    
    #urlbar-input.urlbar-input{ padding: 0px !important; }
  }
    
  #urlbar[breakout-extend]{
    #urlbar-background{
      border-radius: 0 !important;
      border-left: none !important;
      border-right: none !important;
    }
    
    width: var(--sdbr-wdt) !important;
    left: calc( 0px - var(--toolbar-start-end-padding)) !important;
    right: 0 !important;
  }
  
  /* customization mode */
  :root[customizing]{ 
    #nav-bar{
      margin-left: var(--margin);
      margin-top:  var(--margin);
    }

    #wrapper-urlbar-container{
      pointer-events: none !important;

      #urlbar-container{
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
      }
    }
  }
    
  /* hidden mode */
  :root:not([customizing=""]):is([titlepreface*="᠎"], :not([titlepreface*="᠎"]):has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) ) {
    #nav-bar{
      --nvbr-hover-top: calc( var(--top-margin) + var(--margin) ) !important;
      
      --nvbr-hover-col: var(--tb-col);
      --nvbr-hover-txt: var(--tb-txt);
      
      --nvbr-hover-brs: var(--big-rounding);
      --nvbr-hover-brw: var(--br-wdt);
      --nvbr-hover-brt: var(--br-style);
      --nvbr-hover-brc: var(--br-col);
    }
    
    &[titlepreface*="᠎"] #nav-bar{ top: var(--nvbr-hover-top) !important; }
    
    #nav-bar-customization-target::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      right: calc( 0px - var(--panel-hidden-hitbox) );
      bottom: calc( 0px - var(--br-wdt) );
      width: 500%; height: 500%;
      background: var(--debug-col);
    }
    
    #urlbar[breakout-extend]{
      #urlbar-background{
        border-radius: var(--big-rounding) !important;
        border: var(--border) !important;
      }
    }
    
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: 0; }
    #nav-bar-customization-target > *[disabled] { opacity: 0 !important; }
    #nav-bar-overflow-button { opacity: 0; }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: 0; } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: 0; } }
  }
  
  :root:not([customizing=""])[titlepreface*="᠎"]{
    #nav-bar{
      left: var(--hidden-left) !important;
    }
  }

  :root:not([customizing=""]):has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) {
    #nav-bar{
      left: var(--semi-hidden-left) !important;
    }
  }
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

@media (-moz-bool-pref: "shyfox.position.bookmarkbar") {
  :root{
    --bmbr-hgt: 40px;
    --left-bmbr-hgt: var(--bmbr-hgt);
  }
  
  #PersonalToolbar{
    left: 0;
    top: var(--left-nvbr-hgt);

    width: var(--sdbr-wdt) !important;
    overflow: visible !important;
  }
  
  /* customization mode */
  :root[customizing]{
    #PersonalToolbar{
      margin-left: var(--margin);
      margin-top: calc( var(--margin) + var(--bmbr-left-gap) );
    }
  }
  
  @media (-moz-bool-pref: "shyfox.position.navbar") { :root{ --bmbr-left-gap: var(--left-gap); } }
  
  :root:not([customizing=""]):is([titlepreface*="᠎"], :not([titlepreface*="᠎"]):has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) ) {
    
    #PersonalToolbar{
      --bmbr-hover-top: calc( var(--top-margin) + var(--left-nvbr-hgt) + var(--margin) + var(--bmbr-left-gap) ) !important;
      
      --bmbr-hover-col: var(--tb-col);
      --bmbr-hover-txt: var(--tb-txt);
      
      --bmbr-hover-brs: var(--big-rounding);
      --bmbr-hover-brw: var(--br-wdt);
      --bmbr-hover-brt: var(--br-style);
      --bmbr-hover-brc: var(--br-col);
    }
    
    &[titlepreface*="᠎"] #PersonalToolbar{ top: var(--bmbr-hover-top) !important; }
    
    #PersonalToolbar::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      right: calc( 0px - var(--panel-hidden-hitbox) );
      bottom: calc( 0px - var(--br-wdt) );
      width: 500%; height: 500%;
      background: var(--debug-col);
    }
    
    #PersonalToolbar > * { opacity: 0; }
    #PersonalToolbar > *[disabled] { opacity: 0 !important; }
  }
  
  :root:not([customizing=""])[titlepreface*="᠎"]{
    #PersonalToolbar{
      left: var(--hidden-left) !important;
    }
  }

  :root:not([customizing=""]):not([titlepreface*="᠎"]):has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) {
    #PersonalToolbar{
      left: var(--semi-hidden-left) !important;
    }
  }
}

/* 

##############################################################################################################################

 H O V E R   B A R

*/

:root{ --left-hvbr-opct: 0; }
:root[titlepreface*="᠎"]{ --left-hvbr-opct: var(--hvbr-opct); }

:root:not([customizing]):has( #sidebar-box:not([hidden]) ){ #sidebar-box{
  &::after{
    content: ""; position: absolute;
    pointer-events: none;
    transition: var(--hoverbar-transition) !important;
    border-radius: var(--hvbr-brd-rad);
    background: var(--hvbr-color);
    opacity: var(--left-hvbr-opct);
    right: var(--hvbr-pd-block);
    bottom: var(--hvbr-pd-inline);
    height: calc( 100% + var(--left-bmbr-hgt) + var(--left-nvbr-hgt) - var(--hvbr-pd-inline) * 2 );
    width: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
  }
} }

:root:not([customizing]):has( #sidebar-box[hidden] ):has( #sidebar-main:not([hidden]) > *:not([hidden]) ){ #sidebar-main{
  &::after{
    content: ""; position: absolute;
    pointer-events: none;
    transition: var(--hoverbar-transition) !important;
    border-radius: var(--hvbr-brd-rad);
    background: var(--hvbr-color);
    opacity: var(--left-hvbr-opct);
    right: var(--hvbr-pd-block);
    bottom: var(--hvbr-pd-inline);
    height: calc( 100% + var(--left-bmbr-hgt) + var(--left-nvbr-hgt) - var(--hvbr-pd-inline) * 2 );
    width: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
  }
} }

/* 

##############################################################################################################################

 A P P E A R A N C E : G A P L E S S

*/

@media (-moz-bool-pref: "shyfox.appearance.leftbar.gapless") {
  :root:not([customizing=""]):is([titlepreface*="᠎"], :not([titlepreface*="᠎"]):has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) ) {
    --left-gap: 0px;
    
    &:has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box:not([hidden]) ){
      #sidebar-main{ 
        width: calc( var(--sdbr-tb-wdt) + var(--margin) / 2 );
        --sdbr-main-hover-brs: var(--big-rounding) 0px 0px var(--big-rounding);
        --sdbr-main-hover-brw: var(--br-wdt) 0px var(--br-wdt) var(--br-wdt);
      }
      #sidebar-box{ --sdbr-box-hover-brs: 0px var(--big-rounding) var(--big-rounding) 0px; }
    }
    
    &:has(#PersonalToolbar:not([collapsed="true"])) {
      
      /* navbar bottom and bmbar top */
      @media (-moz-bool-pref: "shyfox.position.navbar") and (-moz-bool-pref: "shyfox.position.bookmarkbar") {
        #nav-bar{
          --nvbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
          --nvbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
        }
        #PersonalToolbar{
          --bmbr-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
          --bmbr-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
        }
      }
      
      /* classic sidebar box top */
      &:has( #sidebar-main > *[hidden], #sidebar-main[hidden] ):has( #sidebar-box:not([hidden]) ){
        @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar"){ #sidebar-box{
          --sdbr-box-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
          --sdbr-box-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
        } }
      }
      
      /* new sidebar expanded top */
      &:has( #sidebar-main > *:not([hidden])[expanded] ){
        @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar"){
          #sidebar-main{
            --sdbr-main-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
            --sdbr-main-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
          }
        }
      }

      &:is( 
        :has( #sidebar-main:not([hidden]) > *:not([hidden]):not([expanded]) ):has( #sidebar-box:not([hidden]) ),
        :has( #sidebar-main:not([hidden]) > *:not([hidden])[expanded] ),
        :has( #sidebar-main:not([hidden]) > *[hidden], #sidebar-main[hidden] ):has( #sidebar-box:not([hidden]) )
      ) {
        @media (-moz-bool-pref: "shyfox.position.navbar") and ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) {
          #nav-bar{
            --nvbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
            --nvbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
          }
        }

        @media ( not (-moz-bool-pref: "shyfox.position.navbar") ) and (-moz-bool-pref: "shyfox.position.bookmarkbar") {
          #PersonalToolbar{
            --bmbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px !important;
            --bmbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt) !important;
          }
        }
        
        @media (-moz-bool-pref: "shyfox.position.bookmarkbar") and (-moz-bool-pref: "shyfox.position.navbar") { #PersonalToolbar{
          --bmbr-hover-brs: 0px;
          --bmbr-hover-brw: 0px  var(--br-wdt) 0px var(--br-wdt);
        } }
      }
      
      @media (-moz-bool-pref: "shyfox.position.navbar"), (-moz-bool-pref: "shyfox.position.bookmarkbar"){
      &:has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box:not([hidden]) ){
        #sidebar-main{ 
          width: calc( var(--sdbr-tb-wdt) + var(--margin) / 2 );
          --sdbr-main-hover-brs: 0px 0px 0px var(--big-rounding);
          --sdbr-main-hover-brw: 0px 0px var(--br-wdt) var(--br-wdt);
        }
        #sidebar-box{ --sdbr-box-hover-brs: 0px 0px var(--big-rounding) 0px; }
        #sidebar-main::after {
          box-shadow: 0 0 0 var(--big-rounding) var(--tb-col) !important;
          border-radius: var(--big-rounding) !important;
          border: var(--border);

          position: absolute;
          margin-left: calc( 100% + var(--br-wdt) );
          margin-right: -100%;
          pointer-events: none;
          clip-path: polygon(0 0, var(--big-rounding) 0, var(--big-rounding) var(--big-rounding), 0 var(--big-rounding)) ;
          content: "";
          inset: calc( 0px - var(--br-wdt) );
        }
      } }
    }
    
    &:has(#PersonalToolbar[collapsed="true"]) {
      &:has( #sidebar-main > *[hidden], #sidebar-main[hidden] ):has( #sidebar-box:not([hidden]) ){
        @media (-moz-bool-pref: "shyfox.position.navbar") {
          #nav-bar{
            --nvbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
            --nvbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
          }
          #sidebar-box{
            --sdbr-box-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding) !important;
            --sdbr-box-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
          }
        }
      }
      
      @media (-moz-bool-pref: "shyfox.position.navbar"){
      &:has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box:not([hidden]) ){
        #sidebar-main{ 
          width: calc( var(--sdbr-tb-wdt) + var(--margin) / 2 );
          --sdbr-main-hover-brs: 0px 0px 0px var(--big-rounding);
          --sdbr-main-hover-brw: 0px 0px var(--br-wdt) var(--br-wdt);
        }
        #sidebar-box{ --sdbr-box-hover-brs: 0px 0px var(--big-rounding) 0px; }
        #sidebar-main::after {
          box-shadow: 0 0 0 var(--big-rounding) var(--tb-col) !important;
          border-radius: var(--big-rounding) !important;
          border: var(--border);

          position: absolute;
          margin-left: calc( 100% + var(--br-wdt) );
          margin-right: -100%;
          pointer-events: none;
          clip-path: polygon(0 0, var(--big-rounding) 0, var(--big-rounding) var(--big-rounding), 0 var(--big-rounding)) ;
          content: "";
          inset: calc( 0px - var(--br-wdt) );
        }
      } }
      
      &:has( #sidebar-main > *[hidden], #sidebar-main[hidden] ):has( #sidebar-box:not([hidden]) ){
        @media (-moz-bool-pref: "shyfox.position.navbar"){ #sidebar-box{
          --sdbr-box-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
          --sdbr-box-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
        } }
      }
      
      &:has( #sidebar-main > *:not([hidden])[expanded] ){
        @media (-moz-bool-pref: "shyfox.position.navbar") {
          #sidebar-main{
            --sdbr-main-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
            --sdbr-main-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
          }
        }
      }
      
      &:is( 
        :has( #sidebar-main > *:not([hidden]):not([expanded]) ):has( #sidebar-box:not([hidden]) ),
        :has( #sidebar-main > *:not([hidden])[expanded] ),
        :has( #sidebar-main > *[hidden], #sidebar-main[hidden] ):has( #sidebar-box:not([hidden]) )
      ) {
        @media (-moz-bool-pref: "shyfox.position.navbar") {
          #nav-bar{
            --nvbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
            --nvbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
          }
        }
      }
    }
  }
}


/* 

##############################################################################################################################

 M A G I C   Z O N E

*/

:root:not([customizing=""]):is([titlepreface*="᠎"], :not([titlepreface*="᠎"]):has( #sidebar-main:not([hidden]) > *:not([hidden]):not([expanded]) ):has( #sidebar-box[hidden] ) ) {
  
  @media (-moz-bool-pref: "shyfox.position.navbar") and (-moz-bool-pref: "shyfox.position.extbutton") and (-moz-bool-pref: "shyfox.position.menubutton") {&:has(
    #nav-bar-customization-target:hover #unified-extensions-button:not(:hover),
    #nav-bar-customization-target *:not(#unified-extensions-button, #firefox-view-button)[open]
  ) { --left-hvbr-opct: 0;
    #nav-bar{ --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.navbar") and ( not (-moz-bool-pref: "shyfox.position.extbutton") ) and (-moz-bool-pref: "shyfox.position.menubutton") {&:has(
    #nav-bar-customization-target:hover,
    #nav-bar-customization-target *:not(#firefox-view-button)[open]
  ) { --left-hvbr-opct: 0;
    #nav-bar{ --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > * { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.navbar") and (-moz-bool-pref: "shyfox.position.extbutton") and ( not (-moz-bool-pref: "shyfox.position.menubutton") ) {&:has(
    #nav-bar-customization-target:hover #unified-extensions-button:not(:hover),
    #nav-bar-customization-target *:not(#unified-extensions-button, #firefox-view-button)[open],
    #PanelUI-button:hover, #PanelUI-menu-button[open]
  ) { --left-hvbr-opct: 0;
    #nav-bar{ --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.navbar") and ( not (-moz-bool-pref: "shyfox.position.extbutton") ) and ( not (-moz-bool-pref: "shyfox.position.menubutton") ) {&:has(
    #nav-bar-customization-target:hover,
    #nav-bar-customization-target *:not(#firefox-view-button)[open],
    #PanelUI-button:hover, #PanelUI-menu-button[open]
  ) { --left-hvbr-opct: 0;
    #nav-bar{ --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > * { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.navbar") { &:has(
    #nav-bar-overflow-button:hover, #nav-bar-overflow-button[open], #urlbar:focus-within
  ) { --left-hvbr-opct: 0;
    #nav-bar{ --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: var(--enabled-opct); } }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.bookmarkbar") {&:has(
    #PersonalToolbar:hover, #PersonalToolbar *[open]
  ) { --left-hvbr-opct: 0;
    @media (-moz-bool-pref: "shyfox.position.navbar") { #nav-bar{ 
      --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: var(--enabled-opct); } }
    #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; }
    &[titlepreface*="᠎"]{
      #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
      #sidebar-box{ background: var(--sidebar-background-color) !important;
        border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
        border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
      } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
      #sidebar-main{
        background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
        border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
        border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
      }
    }
  } }  
  
  &[titlepreface*="᠎"]:has(
    #sidebar-box:hover, #sidebar-box *[open], #sidebar-main:hover
  ) { --left-hvbr-opct: 0;
    @media (-moz-bool-pref: "shyfox.position.navbar") { #nav-bar{ 
      --toolbarbutton-icon-fill: var(--nvbr-hover-txt) !important;
      left: var(--hover-left) !important; top: var(--nvbr-hover-top) !important;
      background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
      border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important;
      border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    } #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: var(--enabled-opct); } }
    @media (-moz-bool-pref: "shyfox.position.bookmarkbar") { #PersonalToolbar{
      left: var(--hover-left) !important; top: var(--bmbr-hover-top) !important;
      background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
      border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important;
      border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    } #PersonalToolbar > * { opacity: var(--enabled-opct); } #PersonalToolbar > *[disabled] { opacity: var(--disabled-opct) !important; } }
    #browser :is(#sidebar-box, #sidebar-main) { left: var(--hover-left) !important; & > * { opacity: 1; } }
    #sidebar-box{ background: var(--sidebar-background-color) !important;
      border-width: var(--sdbr-box-hover-brw)!important; border-style: var(--sdbr-box-hover-brt) !important;
      border-color: var(--sdbr-box-hover-brc) !important; border-radius: var(--sdbr-box-hover-brs) !important;
    } #sidebar { border: none !important; border-radius: var(--sdbr-box-hover-brs) !important; }
    #sidebar-main{
      background: var(--sdbr-hover-col) !important; --txt-color: var(--sdbr-hover-txt) !important;
      border-radius: var(--sdbr-main-hover-brs) !important; border-width: var(--sdbr-main-hover-brw) !important;
      border-style: var(--sdbr-main-hover-brt) !important; border-color: var(--sdbr-main-hover-brc) !important;
    }
  }
}
