@media ( not (-moz-bool-pref: "shyfox.position.tabbar") ), ( (-moz-bool-pref: "shyfox.position.tabbar") and (-moz-bool-pref: "shyfox.remove.tabbar") ) {
  @media (-moz-bool-pref: "shyfox.position.menubutton") {#PanelUI-menu-button { display: none !important; }}
  @media (-moz-bool-pref: "shyfox.position.extbutton") {#unified-extensions-button{ display: none !important; }}
}

@media (-moz-bool-pref: "shyfox.remove.tabbar") and (-moz-bool-pref: "shyfox.position.tabbar") {
  #TabsToolbar{ display: none !important; }
}

@media ( not (-moz-bool-pref: "shyfox.remove.tabbar") ) and (-moz-bool-pref: "shyfox.position.tabbar") { /* start of wrapper */

/* 

##############################################################################################################################

 V A R I A B L E S

*/

:root[chromehidden=""]:not([titlepreface*="‌"]), :root[customizing]{
  --right-margin: var(--tbbr-size);
}

:root{
  --tbbr-col: var(--bg-txt);

  --tbbr-menubutton-hgt: 0px;
  --tbbr-extbutton-hgt: 0px;
}
  
:root{
  --right-tbbr-wdt: var(--tbbr-size);
}
  
/* 

##############################################################################################################################

 B U T T O N S

*/

@media (-moz-bool-pref: "shyfox.position.menubutton") {
  :root{ --tbbr-menubutton-hgt: 40px; }
  
  #PanelUI-menu-button{
    fill: var(--tbbr-col) !important;
    color: var(--tbbr-col) !important;
    transition: var(--bar-transition), var(--opacity-transition), margin 0s !important;

    position: fixed !important;
    z-index: -999 !important;
    top: 0px;
    right: 0px;

    margin: 4px !important;
    padding-inline: 0 !important;
  }
  
  :root[customizing]{
    #PanelUI-menu-button{
      top:  var(--margin) !important;
      right: var(--margin) !important;
    }
  }
}

@media (-moz-bool-pref: "shyfox.position.extbutton") {
  :root{ --tbbr-extbutton-hgt: 40px; }
  
  #unified-extensions-button{
    fill: var(--tbbr-col) !important;
    color: var(--tbbr-col) !important;
    transition: var(--bar-transition), var(--opacity-transition), margin 0s !important;

    position: fixed !important;
    z-index: -999 !important;
    top: var(--tbbr-menubutton-hgt);
    right: 0px;

    margin: 4px !important;
    padding-inline: 0px !important;
  }
  
  :root[customizing]{
    #wrapper-unified-extensions-button{ pointer-events: none !important; }
    
    #unified-extensions-button{
      top: calc( var(--margin) + var(--tbbr-menubutton-hgt) ) !important;
      right: var(--margin) !important;
    }
  }
  
}

/* 

##############################################################################################################################

 T O O L B A R

*/

#TabsToolbar{
  #tabbrowser-tabs{ display: none !important; }
  
  right: 0;
  top: 0;
  bottom: 0;

  padding-top: calc( var(--tbbr-menubutton-hgt) + var(--tbbr-extbutton-hgt) ) !important;
  width: var(--tbbr-size) !important;
}

#TabsToolbar-customization-target{
  display: flex !important;
  flex-direction: column;
  height: 100% !important;
}

#alltabs-button{ display: none !important; }

#TabsToolbar-customization-target > * {
  fill: var(--tbbr-col) !important;
  transition: var(--opacity-transition) !important;
}

#TabsToolbar-customization-target toolbarspring{ 
  border-top: 0px solid transparent !important;
  transition: border var(--trans-dur) ease !important;
  margin-inline: 5px !important;
}

/* customizing mode */
:root[customizing]{
  #TabsToolbar{
    top:    var(--margin);
    right:  var(--margin);
    bottom: var(--margin);
  }
  #TabsToolbar-customization-target{
    [id*="wrapper-"]{
      max-width: 40px !important;
      justify-content: center !important;
      align-content: center !important;
      
      box-sizing: content-box !important;
      
      border-color: color-mix( in srgb, var(--bg-txt) 15%, transparent ) !important;
      
      &[style*="border-inline-start-width"]{
        border-inline-start-width: 0px !important;
        border-block-start-width: 40px !important;
      }
      &[style*="border-inline-end-width"]{
        border-inline-end-width: 0px !important;
        border-block-end-width: 40px !important;
      }
    }
  }
}

/* hidden mode */
:root:not([customizing])[titlepreface*="‌"]{
  --tbbr-right: calc( var(--margin-on-right) - var(--tbbr-size) );
  --tbbr-hover-right: calc( var(--margin) + var(--margin-on-right) );  
  --tbbr-hover-txt: var(--tb-txt);

  #TabsToolbar{
    --tbbr-hover-col: var(--tb-col);
    --tbbr-hover-brs: var(--big-rounding);
    --tbbr-hover-brd: var(--border);
    
    top: calc( var(--top-margin) + var(--margin) );
    bottom: var(--tbbr-bottom);
    right: var(--tbbr-right);
  }
  
  #TabsToolbar::before{
    content: ""; position: absolute;
    -moz-window-dragging: drag;
    z-index: -999;
    left: calc( 0px - var(--panel-hidden-hitbox) );
    top: 0px;
    height: 100%; width: 500%;
    background: var(--debug-col);
  }
  
  #TabsToolbar-customization-target > * { opacity: 0; }
  #TabsToolbar-customization-target > *[disabled] { opacity: 0 !important; }
  
  #TabsToolbar-customization-target toolbarspring
  { border-top: 1px solid color-mix(in srgb, var(--tb-txt) 25%, transparent) !important; }
  
  @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
    top: calc( var(--top-margin) + var(--margin) + var(--tbbr-menubutton-hgt) );
    right: var(--tbbr-right);
    opacity: 0;
  } }
  
  @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
    top: calc( var(--top-margin) + var(--margin) );
    right: var(--tbbr-right);
    opacity: 0;
  } }
  
}

  
/* 

##############################################################################################################################

 H O V E R   B A R

*/

:root{ --right-hvbr-opct: 0; }
:root[titlepreface*="‌"]{ --right-hvbr-opct: var(--hvbr-opct); }

:root:not([customizing]) #TabsToolbar::after{
  content: ""; position: absolute;
  pointer-events: none;
  transition: var(--hoverbar-transition) !important;
  border-radius: var(--hvbr-brd-rad);
  background: var(--hvbr-color);
  opacity: var(--right-hvbr-opct);
  left: var(--hvbr-pd-block);
  top: var(--hvbr-pd-inline);
  height: calc( 100% - var(--hvbr-pd-inline) * 2 );
  width: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
}

/* 

##############################################################################################################################

 M A G I C   Z O N E

*/
  
:root{
  --tbbr-elements-hgt: 40px * var(--tbbr-elements-number);
  --tbbr-hgt: calc( var(--tbbr-menubutton-hgt) + var(--tbbr-extbutton-hgt) + var(--tbbr-elements-hgt) + var(--br-wdt) * 2 );
  --tbbr-bottom: calc( 100% - var(--top-margin) - var(--margin) - var(--tbbr-hgt) )
}
  
:root:not([customizing])[titlepreface*="‌"]{
  &:has(
    #TabsToolbar:hover,
    #TabsToolbar *:not(.tabbrowser-tab)[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
    @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
  }
  
  @media (-moz-bool-pref: "shyfox.position.extbutton") { &:has(
    #unified-extensions-button:hover,
    #unified-extensions-button[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    }
    @media (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
  } }
  
  @media (-moz-bool-pref: "shyfox.position.menubutton") { &:has(
    #PanelUI-menu-button:hover,
    #PanelUI-menu-button[open]
  ) { --right-hvbr-opct: 0;
    #TabsToolbar{
      background: var(--tbbr-hover-col) !important;
      color: var(--tbbr-hover-txt) !important;
      fill: var(--tbbr-hover-txt) !important;
      border-radius: var(--tbbr-hover-brs) !important;
      border: var(--tbbr-hover-brd) !important;
      right: var(--tbbr-hover-right);
    }
    #TabsToolbar-customization-target > * {
      fill: var(--tbbr-hover-txt) !important;
      opacity: var(--enabled-opct);
    } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
    @media (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    } }
    #PanelUI-menu-button{
      fill: var(--tbbr-hover-txt) !important;
      color: var(--tbbr-hover-txt) !important;
      right: var(--tbbr-hover-right);
      opacity: var(--enabled-opct);
    }  
  } }
  
}

:root{
  &:has( #TabsToolbar-customization-target #alltabs-button ) {
  --tbbr-elements-number: calc( var(--tbbr-elements-counter) - 1 ); /* -1 because hidden alltabs button */
  } --tbbr-elements-number: calc( var(--tbbr-elements-counter) - 0 );
  
  &:has( #TabsToolbar-customization-target > *:nth-child( 0 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 0} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 1 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 1} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 2 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 2} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 3 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 3} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 4 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 4} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 5 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 5} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 6 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 6} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 7 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 7} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 8 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 8} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 9 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 9} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 10 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 10} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 11 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 11} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 12 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 12} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 13 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 13} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 14 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 14} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 15 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 15} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 16 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 16} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 17 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 17} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 18 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 18} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 19 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 19} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 20 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 20} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 21 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 21} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 22 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 22} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 23 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 23} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 24 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 24} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 25 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 25} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 26 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 26} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 27 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 27} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 28 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 28} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 29 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 29} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 30 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 30} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 31 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 31} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 32 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 32} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 33 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 33} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 34 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 34} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 35 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 35} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 36 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 36} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 37 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 37} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 38 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 38} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 39 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 39} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 40 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 40} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 41 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 41} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 42 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 42} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 43 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 43} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 44 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 44} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 45 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 45} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 46 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 46} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 47 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 47} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 48 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 48} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 49 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 49} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 50 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 50} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 51 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 51} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 52 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 52} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 53 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 53} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 54 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 54} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 55 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 55} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 56 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 56} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 57 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 57} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 58 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 58} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 59 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 59} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 60 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 60} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 61 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 61} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 62 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 62} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 63 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 63} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 64 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 64} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 65 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 65} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 66 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 66} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 67 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 67} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 68 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 68} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 69 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 69} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 70 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 70} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 71 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 71} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 72 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 72} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 73 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 73} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 74 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 74} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 75 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 75} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 76 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 76} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 77 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 77} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 78 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 78} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 79 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 79} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 80 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 80} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 81 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 81} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 82 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 82} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 83 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 83} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 84 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 84} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 85 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 85} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 86 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 86} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 87 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 87} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 88 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 88} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 89 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 89} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 90 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 90} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 91 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 91} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 92 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 92} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 93 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 93} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 94 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 94} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 95 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 95} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 96 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 96} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 97 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 97} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 98 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 98} 
  &:has( #TabsToolbar-customization-target > *:nth-child( 99 of :is(toolbarbutton, toolbaritem) ):nth-last-child( 1 of :is(toolbarbutton, toolbaritem) ) ) {--tbbr-elements-counter: 99}   
}

} /* end of wrapper */
