/* 

##############################################################################################################################

 V A R I A B L E S

*/

:root{
  --bottom-tbbr-hgt: 0px;
  --bottom-nvbr-hgt: 0px;
  --bottom-bmbr-hgt: 0px;
}

:root[chromehidden=""]:has(#PersonalToolbar:not([collapsed="true"])){ @media not (
  (
    (-moz-bool-pref: "shyfox.position.tabbar") or
    (  ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and (
    (-moz-bool-pref: "shyfox.position.navbar") or
    (  ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) and (
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or
    (  ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  )
) {
  &:not(:root[titlepreface*="‍"]){
    --bottom-margin: calc( var(--bottom-tbbr-hgt) + var(--bottom-nvbr-hgt) + var(--bottom-bmbr-hgt) );
  }
} }

:root[chromehidden=""]:has(#PersonalToolbar[collapsed="true"]){ @media not (
  (
    (-moz-bool-pref: "shyfox.position.tabbar") or
    (  ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and (
    (-moz-bool-pref: "shyfox.position.navbar") or
    (  ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  )
) {
  &:not(:root[titlepreface*="‍"]){
    --bottom-margin: calc( var(--bottom-tbbr-hgt) + var(--bottom-nvbr-hgt) );
  }
} }

:root{
  --bottombar-right: var(--right-margin);
  --bottombar-left: var(--left-margin);
  --bottombar-zindex: 5;
  
  --hover-bottom: calc( var(--margin) + var(--margin-on-bottom) );
  
  --nvbr-bottom-gap: 0px;
  --bmbr-bottom-gap: 0px;
  --bottom-gap: calc( var(--margin) / 2 );
}

:root[titlepreface*="‍"]{
  @media (max-width: 1100px) { & {
    --bottombar-right: var(--margin);
    --bottombar-left: var(--margin);
  } }
  @media (max-width: 700px) { & {
    --bottom-hide-margin-inline: 0px;
  } }
}


/* 

##############################################################################################################################

 T A B B A R

*/

@media not ( 
  (-moz-bool-pref: "shyfox.position.tabbar") or 
  ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
) {
  :root{ --bottom-tbbr-hgt: var(--tbbr-size); }
  
  #titlebar{ z-index: calc( var(--bottombar-zindex) + 1 ) !important; }
  
  #TabsToolbar{
    height: var(--tbbr-size) !important;
    
    right: var(--bottombar-right);
    left: var(--bottombar-left);
    bottom: 0px;
  }
  
  :root[titlepreface*="‍"]{
    #TabsToolbar{
      --tbbr-hidden-hitbox: 0px;
      
      --tbbr-hover-col: var(--tb-col);
      --tbbr-hover-txt: var(--tb-txt);
      
      --tbbr-hover-brs: var(--big-rounding);
      --tbbr-hover-brw: var(--br-wdt);
      --tbbr-hover-brt: var(--br-style);
      --tbbr-hover-brc: var(--br-col);
      
      --tbbr-hover-bottom: var(--hover-bottom);
      
      bottom: calc( var(--margin-on-bottom) - var(--tbbr-size) );
      margin-inline: var(--bottom-hide-margin-inline) !important;
      overflow: visible !important;
    }
    
    #TabsToolbar .toolbar-items{
      height: var(--tbbr-size) !important;
      margin-bottom: calc( 0px - var(--br-wdt) ) !important;
    }
    
    #TabsToolbar::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      top: calc( 0px - var(--tbbr-hidden-hitbox) );
      left: 0px;
      width: 100%; height: 500%;
      background: var(--debug-col);
    }
    
    #TabsToolbar-customization-target > *{ opacity: 0; }
  }
  
}

/* 

##############################################################################################################################

 N A V B A R

*/

@media not ( 
  (-moz-bool-pref: "shyfox.position.navbar") or 
  ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
) {
  :root{ --bottom-nvbr-hgt: var(--nvbr-hgt); }
  
  #nav-bar{
    z-index: var(--bottombar-zindex) !important;
    
    right: var(--bottombar-right);
    left: var(--bottombar-left);
    bottom: var(--bottom-tbbr-hgt);

    height: var(--nvbr-hgt) !important;
  }  
  
  :root[titlepreface*="‍"]{
    
    @media not ( 
      (-moz-bool-pref: "shyfox.position.tabbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
    ) { --nvbr-bottom-gap: var(--bottom-gap); }
    
    #nav-bar{
      --nvbr-hidden-hitbox: 0px;
      
      --nvbr-hover-col: var(--tb-col);
      --nvbr-hover-txt: var(--tb-txt);
      
      --nvbr-hover-brs: var(--big-rounding);
      --nvbr-hover-brw: var(--br-wdt);
      --nvbr-hover-brt: var(--br-style);
      --nvbr-hover-brc: var(--br-col);
      
      --toolbarbutton-icon-fill: var(--tb-txt) !important;
      
      --nvbr-hover-bottom: calc( var(--hover-bottom) + var(--bottom-tbbr-hgt) + var(--nvbr-bottom-gap) );
      
      bottom: calc( var(--margin-on-bottom) - var(--nvbr-hgt) );
      margin-inline: var(--bottom-hide-margin-inline) !important;
      overflow: visible !important;
    }
    
    @media not (-moz-bool-pref: "shyfox.appearance.bottombar.gapless") {
      #nav-bar-customization-target, #PanelUI-button{
        height: var(--nvbr-hgt) !important;
        margin-top: calc(0px - var(--br-wdt)) !important;
      }
    }
    
    #nav-bar-customization-target::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      top: calc( 0px - var(--nvbr-hidden-hitbox) );
      left: 0px;
      width: 100%; height: 500%;
      background: var(--debug-col);
    }
    
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: 0; }
    #nav-bar-customization-target > *[disabled] { opacity: 0 !important; }
    #nav-bar-overflow-button { opacity: 0; }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: 0; } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: 0; } }
  }
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

@media not ( 
  (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
  ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
) {
  :root{
    --bmbr-hgt: 30px;
    --bottom-bmbr-hgt: var(--bmbr-hgt);
  }
  
  #PersonalToolbar{
    z-index: calc( var(--bottombar-zindex) - 1 ) !important;
    bottom: calc( var(--bottom-tbbr-hgt) + var(--bottom-nvbr-hgt) );
    right: var(--bottombar-right);
    left: var(--bottombar-left);
  }
  
  :root[titlepreface*="‍"]{
    
    @media not ( 
      (-moz-bool-pref: "shyfox.position.navbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
    ), not ( 
      (-moz-bool-pref: "shyfox.position.tabbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
    ) { --bmbr-bottom-gap: var(--bottom-gap); }  
    
    #PersonalToolbar{
      --bmbr-hidden-hitbox: 0px;
      
      --bmbr-hover-col: var(--tb-col);
      --bmbr-hover-txt: var(--tb-txt);
      
      --bmbr-hover-brs: var(--big-rounding);
      --bmbr-hover-brw: var(--br-wdt);
      --bmbr-hover-brt: var(--br-style);
      --bmbr-hover-brc: var(--br-col);
      
      --bmbr-hover-bottom: calc(var(--hover-bottom) + var(--bottom-tbbr-hgt) + var(--bottom-nvbr-hgt) + var(--bmbr-bottom-gap) + var(--nvbr-bottom-gap) );
      
      bottom: calc( var(--margin-on-bottom) - var(--bmbr-hgt) );
      margin-inline: var(--bottom-hide-margin-inline) !important;
      overflow: visible !important;
    }
    
    #PersonalToolbar::before{
      content: ""; position: absolute;
      -moz-window-dragging: drag;
      z-index: -999;
      top: calc( 0px - var(--bmbr-hidden-hitbox) );
      left: 0px;
      width: 100%; height: 500%;
      background: var(--debug-col);
    }
    
    #PersonalToolbar > * { opacity: 0; }
    #PersonalToolbar > *[disabled] { opacity: 0 !important; }
  }
}

/* 

##############################################################################################################################

 H O V E R   B A R

*/

:root{ --bottom-hvbr-opct: 0; }
:root[titlepreface*="‍"]{ --bottom-hvbr-opct: var(--hvbr-opct); }

:root:has(#PersonalToolbar:not([collapsed="true"])){ 
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    &::after{
      content: ""; position: absolute;
      pointer-events: none;
      transition: var(--hoverbar-transition) !important;
      border-radius: var(--hvbr-brd-rad);
      background: var(--hvbr-color);
      opacity: var(--bottom-hvbr-opct);
      top: var(--hvbr-pd-block);
      left: var(--hvbr-pd-inline);
      width: calc( 100% - var(--hvbr-pd-inline) * 2 );
      height: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
    } --bmbr-hidden-hitbox: var(--panel-hidden-hitbox);
  } }

  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) ) 
  ) { #nav-bar{
    &::after{
      content: ""; position: absolute;
      pointer-events: none;
      transition: var(--hoverbar-transition) !important;
      border-radius: var(--hvbr-brd-rad);
      background: var(--hvbr-color);
      opacity: var(--bottom-hvbr-opct);
      top: var(--hvbr-pd-block);
      left: var(--hvbr-pd-inline);
      width: calc( 100% - var(--hvbr-pd-inline) * 2 );
      height: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
    } --nvbr-hidden-hitbox: var(--panel-hidden-hitbox);
  } }

  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) and (
    (-moz-bool-pref: "shyfox.position.navbar") or ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { #TabsToolbar{
    &::after{
      content: ""; position: absolute;
      pointer-events: none;
      transition: var(--hoverbar-transition) !important;
      border-radius: var(--hvbr-brd-rad);
      background: var(--hvbr-color);
      opacity: var(--bottom-hvbr-opct);
      top: var(--hvbr-pd-block);
      left: var(--hvbr-pd-inline);
      width: calc( 100% - var(--hvbr-pd-inline) * 2 );
      height: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
    } --tbbr-hidden-hitbox: var(--panel-hidden-hitbox);
  } }
}

:root:has(#PersonalToolbar[collapsed="true"]){ 
  @media not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { #nav-bar{
    &::after{
      content: ""; position: absolute;
      pointer-events: none;
      transition: var(--hoverbar-transition) !important;
      border-radius: var(--hvbr-brd-rad);
      background: var(--hvbr-color);
      opacity: var(--bottom-hvbr-opct);
      top: var(--hvbr-pd-block);
      left: var(--hvbr-pd-inline);
      width: calc( 100% - var(--hvbr-pd-inline) * 2 );
      height: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
    } --nvbr-hidden-hitbox: var(--panel-hidden-hitbox);
  } }

  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.navbar") or ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { #TabsToolbar{
    &::after{
      content: ""; position: absolute;
      pointer-events: none;
      transition: var(--hoverbar-transition) !important;
      border-radius: var(--hvbr-brd-rad);
      background: var(--hvbr-color);
      opacity: var(--bottom-hvbr-opct);
      top: var(--hvbr-pd-block);
      left: var(--hvbr-pd-inline);
      width: calc( 100% - var(--hvbr-pd-inline) * 2 );
      height: calc( var(--margin) - var(--hvbr-pd-block) * 2 );
    } --tbbr-hidden-hitbox: var(--panel-hidden-hitbox);
  } }
}

/* 

##############################################################################################################################

 A P P E A R A N C E : G A P L E S S

*/

:root[titlepreface*="‍"]{ @media (-moz-bool-pref: "shyfox.appearance.bottombar.gapless") {
  & { --bottom-gap: 0px; }
  
  /* tabbar top */
  @media not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) {
  @media not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ), not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) {
    #navigator-toolbox #titlebar #TabsToolbar{
      --tbbr-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
      --tbbr-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
    }
  } }
  
  /* navbar bottom */
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and ( not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) ) {
    #navigator-toolbox #nav-bar{
      --nvbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
      --nvbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
    }
  }
  
  &:has(#PersonalToolbar:not([collapsed="true"])){
    /* navbar top & bottom */
    @media ( not ( 
      (-moz-bool-pref: "shyfox.position.navbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
    ) ) and ( not ( 
      (-moz-bool-pref: "shyfox.position.tabbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
    ) ) and ( not ( 
      (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
    ) ) {
      #navigator-toolbox #nav-bar{
        --nvbr-hover-brs: 0px;
        --nvbr-hover-brw: 0px var(--br-wdt) 0px var(--br-wdt);
      }
    }
  
    /* navbar top */
    @media ( not ( 
      (-moz-bool-pref: "shyfox.position.navbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
    ) ) and (
      (-moz-bool-pref: "shyfox.position.tabbar") or ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
    ) and ( not ( 
      (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
    ) ) {
      #navigator-toolbox #nav-bar{
        --nvbr-hover-brs: 0px 0px var(--big-rounding) var(--big-rounding);
        --nvbr-hover-brw: 0px var(--br-wdt) var(--br-wdt) var(--br-wdt);
      }
    }
  
    /* bookmark bar bottom */
    @media not ( 
      (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
    ) {
    @media not ( 
      (-moz-bool-pref: "shyfox.position.navbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
    ), not ( 
      (-moz-bool-pref: "shyfox.position.tabbar") or 
      ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
    ) {
      #navigator-toolbox #PersonalToolbar{
        --bmbr-hover-brs: var(--big-rounding) var(--big-rounding) 0px 0px;
        --bmbr-hover-brw: var(--br-wdt) var(--br-wdt) 0px var(--br-wdt);
      }
    } }
  }
} }

/* 

##############################################################################################################################

 M A G I C   Z O N E

*/

:root[titlepreface*="‍"]{
  
  
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.tabbar") or ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and ( not (-moz-bool-pref: "shyfox.position.menubutton") ) and (-moz-bool-pref: "shyfox.position.extbutton") { &:has(
    #nav-bar-customization-target:hover #unified-extensions-button:not(:hover),
    #nav-bar-customization-target *:not(#unified-extensions-button, #firefox-view-button)[open],
    #PanelUI-menu-button:hover, #PanelUI-menu-button[open]
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{ 
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  } 
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
  
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.tabbar") or ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and (-moz-bool-pref: "shyfox.position.menubutton") and ( not (-moz-bool-pref: "shyfox.position.extbutton") ) { &:has(
    #nav-bar-customization-target:hover, #nav-bar-customization-target:-moz-drag-over,
    #nav-bar-customization-target *:not(#firefox-view-button)[open]
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{ 
    bottom: var(--hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > * { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
  
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.tabbar") or ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and (-moz-bool-pref: "shyfox.position.menubutton") and (-moz-bool-pref: "shyfox.position.extbutton") { &:has(
    #nav-bar-customization-target:hover #unified-extensions-button:not(:hover),
    #nav-bar-customization-target *:not(#unified-extensions-button, #firefox-view-button)[open]
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{ 
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
  
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) and (
    (-moz-bool-pref: "shyfox.position.tabbar") or ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) and ( not (-moz-bool-pref: "shyfox.position.menubutton") ) and ( not (-moz-bool-pref: "shyfox.position.extbutton") ) { &:has(
    #nav-bar-customization-target:hover, #nav-bar-customization-target *:not(#firefox-view-button)[open],
    #PanelUI-menu-button:hover, #PanelUI-menu-button[open]
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{ 
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > * { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
  
  @media not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) { &:has(
    #TabsToolbar:hover, #TabsToolbar *:not(.tabbrowser-tab, #firefox-view-button)[open]
  ) { --bottom-hvbr-opct: 0;
  @media not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { #nav-bar{
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > * { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  } }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  #TabsToolbar{
    bottom: var(--tbbr-hover-bottom);
    background: var(--tbbr-hover-col) !important; color: var(--tbbr-hover-txt) !important;
    border-radius: var(--tbbr-hover-brs) !important; border-width: var(--tbbr-hover-brw) !important; border-style: var(--tbbr-hover-brt) !important; border-color: var(--tbbr-hover-brc) !important;
    #TabsToolbar-customization-target > * { opacity: var(--enabled-opct) !important; } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
  }
  } }
  
  @media ( not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) ) and ( not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) ) { &:has(
    #nav-bar-customization-target:hover, #nav-bar-customization-target *:not(#firefox-view-button)[open],
    #PanelUI-menu-button:hover, #PanelUI-menu-button[open]
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > * { opacity: var(--enabled-opct); } #PanelUI-menu-button{ opacity: var(--enabled-opct); }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  #TabsToolbar{
    bottom: var(--tbbr-hover-bottom);
    background: var(--tbbr-hover-col) !important; color: var(--tbbr-hover-txt) !important;
    border-radius: var(--tbbr-hover-brs) !important; border-width: var(--tbbr-hover-brw) !important; border-style: var(--tbbr-hover-brt) !important; border-color: var(--tbbr-hover-brc) !important;
    #TabsToolbar-customization-target > * { opacity: var(--enabled-opct) !important; } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
  }
  } }
  
  @media not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { &:has(
    #nav-bar-overflow-button:hover, #nav-bar-overflow-button[open], #urlbar:focus-within
  ) { --bottom-hvbr-opct: 0;
  #nav-bar{ 
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: var(--enabled-opct); } }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) { #TabsToolbar{
    bottom: var(--tbbr-hover-bottom);
    background: var(--tbbr-hover-col) !important; color: var(--tbbr-hover-txt) !important;
    border-radius: var(--tbbr-hover-brs) !important; border-width: var(--tbbr-hover-brw) !important; border-style: var(--tbbr-hover-brt) !important; border-color: var(--tbbr-hover-brc) !important;
    #TabsToolbar-customization-target > * { opacity: var(--enabled-opct) !important; } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
  
  @media not ( 
    (-moz-bool-pref: "shyfox.position.bookmarkbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.bookmarkbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.bookmarkbar") ) )
  ) { &:has(
    #PersonalToolbar:hover, #PersonalToolbar *:not(#firefox-view-button)[open],
    #PersonalToolbar #PlacesToolbarDropIndicator:not([collapsed])
  ) { --bottom-hvbr-opct: 0;
  @media not ( 
    (-moz-bool-pref: "shyfox.position.navbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.navbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.navbar") ) )
  ) { #nav-bar{ 
    bottom: var(--nvbr-hover-bottom);
    background: var(--nvbr-hover-col) !important; color: var(--nvbr-hover-txt) !important;
    border-radius: var(--nvbr-hover-brs) !important; border-width: var(--nvbr-hover-brw) !important; border-style: var(--nvbr-hover-brt) !important; border-color: var(--nvbr-hover-brc) !important;
    #nav-bar-customization-target > *:not(#unified-extensions-button) { opacity: var(--enabled-opct); }
    @media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ opacity: var(--enabled-opct); } }
    @media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ opacity: var(--enabled-opct); } }
    #nav-bar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; } #nav-bar-overflow-button { opacity: var(--enabled-opct); }
  } }
  #PersonalToolbar{
    bottom: var(--bmbr-hover-bottom);
    background: var(--bmbr-hover-col) !important; color: var(--bmbr-hover-txt) !important;
    border-radius: var(--bmbr-hover-brs) !important; border-width: var(--bmbr-hover-brw) !important; border-style: var(--bmbr-hover-brt) !important; border-color: var(--bmbr-hover-brc) !important;
    & > * { opacity: var(--enabled-opct) !important; } & > *[disabled] { opacity: var(--disabled-opct) !important; }
  }
  @media not ( 
    (-moz-bool-pref: "shyfox.position.tabbar") or 
    ( ( not (-moz-bool-pref: "shyfox.position.tabbar") ) and ( not (-moz-bool-pref: "shyfox.vert-position.tabbar") ) )
  ) { #TabsToolbar{
    bottom: var(--tbbr-hover-bottom);
    background: var(--tbbr-hover-col) !important; color: var(--tbbr-hover-txt) !important;
    border-radius: var(--tbbr-hover-brs) !important; border-width: var(--tbbr-hover-brw) !important; border-style: var(--tbbr-hover-brt) !important; border-color: var(--tbbr-hover-brc) !important;
    #TabsToolbar-customization-target > * { opacity: var(--enabled-opct) !important; } #TabsToolbar-customization-target > *[disabled] { opacity: var(--disabled-opct) !important; }
  } }
  } }
  
}
