:root[customizing]{
  
  #customization-container{
   
    --top-customizing-margin:    calc( var(--top-tbbr-hgt)    + var(--top-nvbr-hgt)    + var(--top-bmbr-hgt)    ) !important;
    --bottom-customizing-margin: calc( var(--bottom-tbbr-hgt) + var(--bottom-nvbr-hgt) + var(--bottom-bmbr-hgt) ) !important;
    
    padding-top:    calc( var(--margin) * 2 + var(--top-customizing-margin)    ) !important;
    padding-bottom: calc( var(--margin) * 2 + var(--bottom-customizing-margin) ) !important;
    padding-right:  calc( var(--margin) * 2 + var(--right-margin) ) !important;
    padding-left:   calc( var(--margin) * 2 + var(--left-margin)  ) !important;
  }
  
  /* items box */
  #customization-palette-container{
    border: var(--border) !important;
    border-radius: var(--big-rounding) !important;
    background: var(--bg-col) !important;
    
    --wdt: calc( 100% - 400px );
    max-width: var(--wdt) !important;
    min-width: var(--wdt) !important;
  }
  
  /* overflow menu */
  #customization-panel-container{
    --wdt: 400px;
    min-width: var(--wdt) !important;
    max-width: var(--wdt) !important;
    
    padding-inline-end: 0px !important;
    padding-inline-start: var(--margin) !important;
  }
  
  #customization-panelWrapper{
    #customization-panelHeader{ fill: red !important; }
    
    #customization-panelHeader::after{
      content: url("chrome://global/skin/icons/chevron.svg");
      display: inline-block;

      
      background-image:;
      width: 16px;
      height: 16px;
    }
    
    .panel-arrowbox{ display: none !important; }
    
    .panel-arrowcontent{
      border: var(--border) !important;
      border-radius: var(--big-rounding) !important;
      background: var(--bg-col) !important;
    }
  }
  
  /* footer button bar */
  #customization-footer{
    border: var(--border) !important;
    border-radius: var(--big-rounding) !important;
    
    background: var(--arrowpanel-background) !important;
    
    padding: 5px 10px !important;
    margin-top: 10px !important;
  }
  
  #nav-bar, #TabsToolbar, #PersonalToolbar{
    outline: 1px dashed !important;
    border-radius: var(--rounding) !important;
  }
  
}