/* 

##############################################################################################################################

 M A I N

*/


/* main content position */
:root:not([inDOMFullscreen]) #tabbrowser-tabbox
{ margin: var(--browser-margin) !important; }

#tabbrowser-tabbox{
  transition: var(--content-transition) !important;
  box-shadow: none !important;
  outline: none !important;
  
  z-index: 0 !important;
  
  position: fixed !important;
  top: 0px; bottom: 0px; left: 0px; right: 0px;
}

#browser{
  background: var(--bg-col) !important;
  color: var(--bg-txt) !important;
}

/* fake border radius & border around main content */
:root:not([inDOMFullscreen])[chromehidden=""]{
  .browserStack::after {
    box-shadow: 0 0 0 var(--big-rounding) var(--bg-col) !important;
    border-radius: var(--big-rounding);
    border: var(--border);

    position: absolute;
    pointer-events: none;
    clip-path: inset(calc( 0px - var(--br-wdt) ));
    content: "";
    inset: calc( 0px - var(--br-wdt) );
  }

  .browserStack{ margin: var(--br-wdt) !important; }
}

/* weird line on top fix */
#navigator-toolbox{
  position: relative !important;
  margin-top: -1px !important;
  z-index: 5;
}

/* remove useless items */
#private-browsing-indicator-with-label,
.titlebar-spacer
{ display: none !important; }

:root[inDOMFullscreen] #navigator-toolbox{ display: none !important; }

:root:not([chromehidden=""]) #navigator-toolbox{ visibility: collapse !important; }

/* opacity fix */
#titlebar {
  :root[tabsintitlebar] & {
    &:-moz-window-inactive {
      opacity: var(--inactive-titlebar-opacity);
      opacity: 1 !important;
    }
  }
}

/* border fix */
* { border: 0px solid transparent; }

/* transparent sidebar */
window#webextpanels-window { background: transparent !important; }

/* 

##############################################################################################################################

 D R A G G I N G   B O R D E R

*/

/* shared */
#browser::before,
#browser::after,
#navigator-toolbox::before,
#navigator-toolbox::after
{
  position: fixed;
  pointer-events: none;
  -moz-window-dragging: drag;
  content: "";
  background-color: var(--debug-col);
}

/* top */
#browser::after {
  height: calc(var(--margin) + 2px);
  top: -1px;
  width: 100vw;
}

/* bottom */
#browser::before {
  height: calc(var(--margin) + 2px);
  bottom: -1px;
  width: 100vw;
}

/* left */
#navigator-toolbox::before{
  width: calc(var(--margin) + 2px);
  left: -1px;
  height: 100vw;
}

/* right */
#navigator-toolbox::after{
  width: calc(var(--margin) + 2px);
  right: -1px;
  height: 100vw;
}

/* 

##############################################################################################################################

 D E V T O O L S

*/

/* consistent bg */
.browserSidebarContainer, .responsive-mode { background-color: var(--bg-col) !important; }

/* border & corners */
browser[class*="devtools-toolbox"]{
  border-radius: var(--big-rounding) !important;
  border: var(--border) !important;
}

/* splitter */
.devtools-side-splitter, .devtools-horizontal-splitter{
  background-color: transparent !important;
  margin-inline: 0px !important;
  margin: 0px !important;
}

.devtools-side-splitter      { min-width:  calc( var(--margin) / 2 ) !important; }
.devtools-horizontal-splitter{ min-height: calc( var(--margin) / 2 ) !important; }

/* dynamic mode toolbar */
.rdm-toolbar {
  margin: var(--br-wdt) !important;
  width: calc( 100% - var(--br-wdt) * 2 ) !important;
  border-top-left-radius: calc( var(--big-rounding) - var(--br-wdt) ) !important;
  border-top-right-radius: calc( var(--big-rounding) - var(--br-wdt) ) !important;
}

/* dynamic mode borders */
.responsive-mode {
  browser{
    border-radius: var(--rounding) !important;
    border: var(--border) !important;
  }
  
  .browserStack{
    border-radius: var(--big-rounding) !important;
    border: var(--border) !important;
    margin: 0px !important;
  }
  
  .browserStack::after{ display: none; }
}

/* 

##############################################################################################################################

 N A V B A R

*/

/* navbar shared styles */
#nav-bar{
  background: transparent !important;
  color: var(--bg-txt) !important;
  --toolbarbutton-icon-fill: var(--bg-txt) !important;
  border: 0px solid transparent !important;
  
  z-index: 2;
  position: fixed !important;
  transition: var(--bar-transition) !important;
  
  & * {
    --urlbar-container-height: var(--nvbr-hgt) !important;
    --urlbar-height: 32px !important;
  }
  
  #alltabs-button{ display: none !important; visibility: collapse !important; }
}

/* opacity transition */
#nav-bar-customization-target :is( #stop-reload-button, #edit-controls, #zoom-controls ) > *,
#nav-bar-customization-target > *:not(#unified-extensions-button),
#nav-bar-customization-target > *[disabled],
#nav-bar-overflow-button
{ transition: var(--opacity-transition) !important; }
@media not (-moz-bool-pref: "shyfox.position.extbutton") { #unified-extensions-button{ transition: var(--opacity-transition) !important; } }
@media not (-moz-bool-pref: "shyfox.position.menubutton") { #PanelUI-menu-button{ transition: var(--opacity-transition) !important; } }  

/* urlbar shared styles */
#urlbar:focus-within{
  #identity-box,
  #page-action-buttons,
  #tracking-protection-icon-container
  { display: none !important; }
  
  #urlbar-input { padding-inline-start: 5px !important; }
}

/* menu button container padding tweak */
#PanelUI-menu-button{ padding-inline: 0 !important; }
#PanelUI-button{ padding-inline-end: var(--toolbar-start-end-padding); }
#ion-button{ display: none !important; }

/* idk what is it */
#pageActionSeparator, #pageActionButton[multiple-children] ~ .urlbar-page-action {
  display: flex !important;
}

/* identity box tweak */
#identity-icon-box {
  padding-inline: 6px !important;
  max-width: calc(30px + 13em) !important;
}

/* 

##############################################################################################################################

 B O O K M A R K S   B A R

*/

:root:has(#PersonalToolbar[collapsed="true"]){
  --bmbr-hgt: 0px;
}

#PersonalToolbar{
  &:not([collapsed="true"]){ visibility: visible !important; }
  
  background: transparent !important;
  color: var(--bg-txt) !important;  
  border: 0px solid transparent !important;
  
  position: fixed;
  height: var(--bmbr-hgt) !important;
  padding: 4px var(--toolbar-start-end-padding) !important;
  
  transition: var(--bar-transition) !important;
}

#PersonalToolbar > * { transition: var(--opacity-transition) !important; }

#PersonalToolbar > toolbarbutton,
#PlacesChevron{
  width: 32px !important;
  margin: 0 4px !important;
  padding-inline: 0px !important;
    
  & > .toolbarbutton-icon{
    width: 32px !important;
    padding: 0 8px !important;
  }
}

#OtherBookmarks{ 
  .toolbarbutton-text{ display: none !important; }
  .toolbarbutton-icon{ margin: 0 !important; }
}

#import-button, .bookmark-item{
  margin: 0 2px !important;
  padding: 0 8px !important;
}

#PersonalToolbar{
  & > *:nth-child(1 of toolbarbutton) {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
  
  & > *:nth-last-child(1 of toolbarbutton) {
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
  
  #PlacesToolbarItems > *:nth-child(1) {
    margin-left: 0px !important;
  }
}

/* empty bookmarks description tweaks */
#PersonalToolbar:has(#personal-toolbar-empty) 
             > *:not(#personal-toolbar-empty)
{ visibility: collapse !important; }

#personal-toolbar-empty{
  width: 100% !important;
  overflow: hidden !important;
  mask-image: linear-gradient(to left, transparent, black 3ch) !important;
}

#personal-toolbar-empty-description{
  -moz-window-dragging: drag !important;
  margin-block: 0px !important;
  padding-block: 0px !important;
  height: 100% !important;
  align-content: center !important;
}

/* 

##############################################################################################################################

 T A B S   T O O L B A R

*/

#TabsToolbar{
  background: transparent !important;
  color: var(--bg-txt) !important;
  border: 0px solid transparent !important;
  transition: var(--bar-transition) !important;
  position: fixed;
  
  #TabsToolbar-customization-target > *:not(toolbarspring){
    height: 40px !important;
  }
  
  toolbarbutton{ height: var(--tbbr-size) !important; }

  toolbarbutton > :is(.toolbarbutton-icon, .toolbarbutton-badge-stack){
    width: 32px !important;
    height: 32px !important;
    padding: 8px !important;
    margin: 0px !important;
  }
  
  #tabbrowser-tabs{
    height: var(--tbbr-size) !important;

    .tabbrowser-tab{
      .tab-background{
        margin: 4px 0px !important;
        height: 32px !important;
        min-height: 32px !important;
      }
    }

    .tabbrowser-tab[pinned]{
      &, .tab-stack{ width: 36px !important; }

      .tab-background{
        width: 32px !important;
        min-width: 32px !important;
        margin: 4px 2px !important;
      }

      .tab-label-container{ display: none !important; }
    }
  }
}

@media not (-moz-bool-pref: "shyfox.position.tabbar") {
  #TabsToolbar-customization-target{
    toolbarspring { max-width: none !important; }
    padding-inline: var(--toolbar-start-end-padding) !important;
    
    & :is( #edit-controls, #zoom-controls ) > *,
    & > * { transition: var(--opacity-transition) !important; }
    
    &:not( :has(#tabbrowser-tabs) ) #alltabs-button{ display: none !important; }
    #tabbrowser-tabs{ padding-bottom: 0px !important; }
    
    & > *:nth-child(1 of :is(toolbarbutton, toolbaritem)) {
      margin-left: 0px !important;
      padding-left: 0px !important;
    }
    & > *:nth-last-child(1 of :is(toolbarbutton, toolbaritem)) {
      margin-right: 0px !important;
      padding-right: 0px !important;
    }
  }
}

/* tabs toolbar empty description */
#TabsToolbar-customization-target:empty::after{
  content: "For quick access, place your favorite buttons here on the tabs toolbar. Right click > Customize toolbar...";
  white-space: nowrap;
  mask-image: linear-gradient(to left, transparent, black 3ch) !important;

  position: absolute;
  top: 0px;
  left: 10px;
  width: calc(100% - 10px);

  height: 100%;
  align-content: center;
  
  @media (-moz-bool-pref: "shyfox.position.tabbar"){
    height: calc( 100% - var(--tbbr-menubutton-hgt) - var(--tbbr-extbutton-hgt) - 25px );
    top: calc( var(--tbbr-menubutton-hgt) + var(--tbbr-extbutton-hgt) + 15px );
    
    align-content: baseline;
    writing-mode: vertical-rl;
    left: 0px;
    
    mask-image: linear-gradient(to top, transparent, black 3ch) !important;
  }
}



/* 

##############################################################################################################################

 M E N U   B A R

*/

@media not (-moz-platform: macos) {
  
  #toolbar-menubar {
    
    position: fixed;
    overflow: clip;
    visibility: visible !important;
    z-index: 5;
    
    width: -fit-content;
    max-height: 0px;
    padding-bottom: 0 !important;
    
    transition: all .3s ease !important;
    
    top: var(--top-margin);
    left: var(--left-margin);
    
    border-radius: var(--rounding);
    background-color: var(--tb-col) !important;
  }

  #main-menubar > * {padding-top: 0px !important;}
}


/* 

##############################################################################################################################

 N O T I F I C A T I O N

*/

#tab-notification-deck, .global-notificationbox{
  position: fixed !important;
  transition: var(--bar-transition) !important;
  z-index: 0 !important;
  vbox{ background-color: transparent !important; }
  background-color: transparent !important;
  width: auto;
  
  max-width: calc(
    100vw 
    - var(--margin)
    - var(--right-margin)
    - var(--left-margin)
  );
  
  top:  calc( var(--top-margin)  + var(--margin) / 2 );
  left: calc( var(--left-margin) + var(--margin) / 2 );
  
  notification-message{
    border-radius: var(--big-rounding) !important;
    background-color: var(--tb-col) !important;
    color: var(--tb-txt) !important;
    
    &::before{ display: none !important; }
  }
  
  .footer-button{ margin: 4px !important; }
}

/* 

##############################################################################################################################

 F I N D B A R

*/

findbar{
  background: var(--tb-col) !important;
  color: var(--tb-txt) !important;
  border-radius: var(--big-rounding) !important;
  border: var(--border) !important;
  transition: var(--bar-transition) !important;
  
  --findbar-width: 850px;
  @media (max-width: 900px){ --findbar-width: 500px }
  
  position: fixed !important;
  bottom: calc( var(--bottom-margin) + var(--margin) );
  
  --blank: calc( 100% - var(--left-margin) - var(--right-margin) - var(--findbar-width) );
  left: calc( var(--blank) / 2 + var(--left-margin) );
  right: calc( var(--blank) / 2 + var(--right-margin) );
  
  height: 80px !important;
  padding-top: 40px !important;
  
  [anonid="findbar-textbox-wrapper"]{
    position: absolute !important;
    top: 0px;
    left: var(--toolbar-start-end-padding) !important;
    
    padding-block: 6px !important;

    width: calc( var(--findbar-width) - var(--toolbar-start-end-padding) * 2 - 40px ) !important;

    .findbar-textbox{
      border-radius: 100px !important;
      width: calc( var(--findbar-width) - var(--toolbar-start-end-padding) * 2 - 80px - 40px ) !important;
    }

    toolbarbutton{
      margin-inline: 5px !important;
      width: 30px !important;
      border-radius: var(--rounding) !important;
    }
  }
  
  .findbar-closebutton{
    position: absolute !important;
    right: var(--toolbar-start-end-padding);
    top: 0px;
    
    height: 28px !important;
    width: 30px !important;
    margin-block: 6px !important;
    margin-inline: 5px !important;
    
    border-radius: var(--rounding) !important;
  }
}

/* 

##############################################################################################################################

 A N I M A T I O N

*/

@keyframes shy-jello-animation {
  0% {
    transform: scale3d(0.8, 0.8, 0.8);
  }

  60% {
    transform: scale3d(1.02, 1.02, 1.02);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

panel:not([viewId*="webext"])[type="arrow"][animate][animate="open"],
:is(toolbarbutton, menu)[open] > menupopup
{ animation: shy-jello-animation 0.2s ease-in-out; }
