/* hide ugly animation */
.sidebar-animation-screenshot {visibility: collapse !important;}

#sidebar-main{
  --txt-color: var(--bg-txt);
  background: transparent !important;
  overflow: visible !important;
}

/* new sidebar panel */
.wrapper:has(.tools-and-extensions) {
  -moz-window-dragging: drag !important;
  & * {-moz-window-dragging: no-drag !important;}
  
  background: transparent !important;
  color: var(--txt-color) !important;
  border: 0px solid transparent !important;
  
  padding: 0px !important;
  padding-bottom: calc( var(--margin) / 1.5 ) !important;
  
  &:has(.expanded-button) { padding-inline: var(--toolbar-start-end-padding) !important; }
  
  min-width: 0px !important;
  .tools-and-extensions, .bottom-actions { padding-inline: 0px !important }
  
  :is(.tools-and-extensions, .bottom-actions) moz-button { margin-block-start: 4px !important; }
}

/* sidebar buttons */
:is(.tools-and-extensions, .bottom-actions) moz-button {
  --button-outer-padding-inline-start: 4px !important;
  --button-outer-padding-inline-end: 4px !important;
  --button-outer-padding-block-start: 0px !important;
  --button-outer-padding-block-end: 0px !important;

  --button-min-height: 32px;

  --button-padding-icon: 14px !important;
  --button-size-icon: 32px !important;
}

/* tab background */
:root:not([customizing])[titlepreface*="᠎"] #vertical-tabs #tabbrowser-tabs
.tab-background:is([selected], [multiselected]){
  background: var(--bg-col) !important;
}

.tab-background{ transition: background var(--trans-dur) ease-out !important; }


/* tabs expanded */
#vertical-tabs #tabbrowser-tabs[expanded]{
  
  /* not pinned tabs */
  .tabbrowser-tab:not([pinned]){
    --tab-min-height: 32px !important;
    &, & > * {max-height: 32px !important;}

    margin-block: 3px !important;

    .tab-content{
      padding: 0px !important;
      padding-inline-end: 5px !important;
      padding-inline-start: 10px !important;
    }
    .tab-background{
      margin: 0px !important;
      border-radius: var(--rounding) !important;
      &, & > *{max-height: 32px !important;}
    }

    .tab-close-button{ margin: 0px !important; }
  }
  
  /* new tab button */
  #tabs-newtab-button{   
    --tab-min-height: 32px !important;
    &, & > * {max-height: 32px !important;}
    border-radius: var(--rounding) !important;
    margin: 0px !important; 
    margin-block: 3px !important;
  }
  
  /* pinned tabs */
  #vertical-pinned-tabs-container{
    padding-inline: 0px !important;
    display: flex !important;
    flex-wrap: wrap;
    
    --grid-gap: 5px;
    grid-gap: var(--grid-gap) !important;
    
    /* odd */
    --max-tabs-in-row: 3;
    
    /* even */
    &:has( tab:nth-child( 2n of tab ):nth-last-child( 1 of tab ) ) 
    { --max-tabs-in-row: 4; }

    .tabbrowser-tab[pinned]{
      flex-grow: 1 !important;
      min-width: calc( var(--sdbr-wdt) / var(--max-tabs-in-row) - var(--grid-gap) * var(--max-tabs-in-row) ) !important;
      width: auto !important;
      height: 42px !important;
    }

    .tabbrowser-tab[pinned] .tab-background{
      margin: 0px !important;
      border-radius: var(--big-rounding) !important;
      height: 100% !important;
      width: 100% !important;
    }

    .tab-icon-image, .tab-icon-stack{
      height: var(--pinned-tab-icon-size) !important;
      width: var(--pinned-tab-icon-size) !important;
    }
  }
}

/* tabs not expanded */
#vertical-tabs #tabbrowser-tabs:not([expanded]){
  --tab-collapsed-width: 40px !important;
  --tab-collapsed-background-width: 32px !important;
  --tab-min-height: 32px;
  
  .tab-background, #tabs-newtab-button{ 
    margin-inline: 4px !important; 
    border-radius: var(--rounding) !important; 
  }
  
  #tabs-newtab-button{ margin-top: 2px !important; }
}

#vertical-pinned-tabs-container-separator{ margin: 0px !important; }

/* pinned top margin */
#vertical-tabs #tabbrowser-tabs[expanded] #vertical-pinned-tabs-container:not(:empty){ margin-top: var(--margin) !important; }
#vertical-pinned-tabs-container{ transition: margin-top var(--trans-dur) ease-out !important; }

/* rm scrollbars */
#tabbrowser-arrowscrollbox, #vertical-pinned-tabs-container{
  --vertical-tabs-scrollbox-width: none;
}

scrollbox, #vertical-pinned-tabs-container{
  scrollbar-width: var(--vertical-tabs-scrollbox-width) !important;
}

/* old sidebar header */
#sidebar-box{  
  #sidebar-header{
    border: none !important;
    padding: 4px 3px !important;
  }
  #sidebar-close{
    margin-inline: 4px !important;
    padding: 7px !important;
    width: 30px !important;
    border-radius: var(--rounding) !important;
  }
}